html {
    /*!* These settings prevent the scrollbar from moving the page contents *!*/
    /*overflow-x: hidden !important;*/
    /*margin-right: calc(-1 * (100vw - 100%)) !important;*/
    overflow-y: scroll;
}

#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right,rgba(0, 47, 100, 0.70),rgba(220,66, 37, 0.70)), url({% static 'registration/login_bg.jpg' %});
    background-size: 100%;
    background-attachment: fixed;
}

/* Materialize overrides START */

    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: #000;
    }
    /* label underline focus color */
    .input-field input:focus {
        border-bottom: 1px solid #e97d15 !important;
        box-shadow: 0 1px 0 0 #e97d15 !important;
    }
    /* valid color */
    .input-field input[type=text].valid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    /* icon prefix focus color */
    .input-field .prefix.active {
        color: #e97d15;
    }
    .input-field label.active {
        color: #e97d15;
    }

    /* Text color for materialize form select dropdown */
    ul.dropdown-content.select-dropdown li span {
        color: #000; /* no need for !important */
    }

    /* For welcome banner */
    .parallax-container {
        height: 100%;
    }

    .tabs {
        background-color: #eee !important; /* eee is grey lighten-3 */
    }
    .tabs .tab a {
        color: rgba(233, 125, 21, 0.7);
    }
    .tabs .tab a:hover, .tabs .tab a.active {
        color: #e97d15;
        font-weight: 500;
        background-color: #e0e0e0  !important;
        transition: 0.5s;
    }
    /* underline thing */
    .tabs .indicator {
        background-color: #e97d15;
    }
/* Materialize overrides END */

    .back_button {
       color: white;
    }
    .back_button:hover {
       color: #e97d15;
       transition: .5s;
    }

    .hover_black:hover {
       color: #000 !important;
       transition: .5s;
    }

    .hover_orange:hover {
       color: orange;
       transition: .5s;
    }

    .hover_move_down {
        position: relative;
        top: 0;
        transition: top ease 1s;
    }

    .hover_move_down:hover {
        top: 7px;
    }

    .hover_move_right {
        position: relative;
        right: 0;
        transition: right ease 0.5s;
    }

    .hover_move_right:hover .icon_only_right {
        right: -7px;
    }

    ul li.active {
        background-color: #ffa726  !important;
        transition: 1s;
    }

    #slide-out li:hover {
        background-color: #ffa726;
        transition: 1s;
    }

    /* For fade-in effect on page load */
    #welcome_banner {
        opacity: 0;
    }

    .banner_overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(to bottom left,rgba(100,50,0, 0.60),rgba(0,0,0, 1.00));
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    }

    .black_bar {
        background: rgba(0,0,0,.3)
    }

    #loading_overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 998;
    }

    /* Tobias Ahlin Spinkit loader */
    .sk-folding-cube {
      margin: 20px auto;
      width: 60px;
      height: 60px;
      position: relative;
      -webkit-transform: rotateZ(45deg);
              transform: rotateZ(45deg);
    }

    .sk-folding-cube .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
    .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e97d15;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
              animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    .sk-folding-cube .sk-cube2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
              transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
              transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
              transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s;
    }
    .sk-folding-cube .sk-cube4:before {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s;
    }
    @-webkit-keyframes sk-foldCubeAngle {
      0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }

    @keyframes sk-foldCubeAngle {
      0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }