    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: #000;
    }
    /* label underline focus color */
    .input-field input:focus {
        border-bottom: 1px solid #e97d15 !important;
        box-shadow: 0 1px 0 0 #e97d15 !important;
    }
    /* valid color */
    .input-field input[type=text].valid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    /* icon prefix focus color */
    .input-field .prefix.active {
        color: #e97d15;
    }
    .input-field label.active {
        color: #e97d15;
    }

    .back_button {
       color: white;
    }
    .back_button:hover {
       color: #e97d15;
       transition: .5s;
    }

    .hover_black:hover {
       color: #000 !important;
       transition: .5s;
    }

    .hover_orange:hover {
       color: orange;
       transition: .5s;
    }

    ul li.active {
       background-color: #ffa726  !important;
    }

    ul li:hover {
        background-color: #ffa726;
        transition: 1.5s;
    }

    .parallax-container {
        height: 100%;
    }

    /* For fade-in effect on page load */
    #welcome_banner {
        opacity: 0;
    }

    .banner_overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(to bottom left,rgba(100,50,0, 0.70),rgba(0,0,0, 1.00));
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    }

    .black_bar {
        background: rgba(0,0,0,.3)
    }