    html {
        /* prevents the scroll bar from moving the page contents */
        overflow-y: scroll;
    }

/* Materialize overrides START */

    /* label focus color */
    .input-field input[type=text]:focus + label {
        color: #000;
    }
    /* label underline focus color */
    .input-field input:focus {
        border-bottom: 1px solid #e97d15 !important;
        box-shadow: 0 1px 0 0 #e97d15 !important;
    }
    /* valid color */
    .input-field input[type=text].valid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }
    /* invalid color */
    .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
    }

    /* icon prefix focus color */
    .input-field .prefix.active {
        color: #e97d15;
    }
    .input-field label.active {
        color: #e97d15;
    }

    .checkbox-orange[type="checkbox"] + label:before{
        border: 2px solid #e97d15;
        background: transparent;
    }
    .checkbox-orange[type="checkbox"]:checked + label:before{
        border: 2px solid transparent;
        border-bottom: 2px solid #e97d15;
        border-right: 2px solid #e97d15;
        background: transparent;
    }

    /* Text color for materialize form select dropdown */
    ul.dropdown-content.select-dropdown li span {
        color: #000; /* no need for !important */
    }

    /* For welcome banner */
    .parallax-container {
        height: 100%;
    }

    .tabs {
        background-color: #eee !important; /* eee is grey lighten-3 */
    }
    .tabs .tab a {
        color: rgba(233, 125, 21, 0.7);
    }
    .tabs .tab a:hover, .tabs .tab a.active {
        color: #e97d15;
        font-weight: 500;
        background-color: #e0e0e0  !important;
        transition: 0.5s;
    }
    /* underline thing */
    .tabs .indicator {
        background-color: #e97d15;
    }
/* Materialize overrides END */

    .back_button {
       color: white;
    }
    .back_button:hover {
       color: #e97d15;
       transition: .5s;
    }

    .hover_border_orange:hover {
        border: 5px solid #e97d15;
        transition: .2s;
    }

    .hover_black:hover {
       color: #000 !important;
       transition: .5s;
    }

    .hover_orange:hover {
       color: #e97d15;
       transition: .5s;
    }

    .hover_move_down {
        position: relative;
        top: 0;
        transition: top ease 1s;
    }

    .hover_move_down:hover {
        top: 7px;
    }

    .hover_move_right {
        position: relative;
        right: 0;
        transition: right ease 0.5s;
    }

    .hover_move_right:hover .icon_only_right {
        right: -7px;
    }

    ul li.active {
        background-color: #ffa726  !important;
        transition: 1s;
    }

    #slide-out li:hover {
        background-color: #ffa726;
        transition: 1s;
    }

    /* For fade-in effect on page load */
    #welcome_banner {
        opacity: 0;
    }

    .banner_overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(to bottom left,rgba(100,50,0, 0.60),rgba(0,0,0, 1.00));
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    }

    .black_bar {
        background: rgba(0,0,0,.3)
    }

    #loading_overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 998;
    }

    /* Tobias Ahlin Spinkit loader */
    .sk-folding-cube {
      margin: 20px auto;
      width: 30px;
      height: 30px;
      position: relative;
      -webkit-transform: rotateZ(45deg);
              transform: rotateZ(45deg);
    }

    .sk-folding-cube .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
    .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #e97d15;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
              animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    .sk-folding-cube .sk-cube2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
              transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
              transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
              transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s;
    }
    .sk-folding-cube .sk-cube4:before {
      -webkit-animation-delay: 0.9s;
              animation-delay: 0.9s;
    }
    @-webkit-keyframes sk-foldCubeAngle {
      0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }

    @keyframes sk-foldCubeAngle {
      0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      } 25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
                transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
                transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }

    #success_text {
        font-weight: 500;
        display: inline-block;
        margin-right: 10px;
    }

    .flex_with_wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .presenter_box {
        padding: 15px 15px 0 15px !important;
        border-radius: 7px !important;
    }

    .workshop_title {
        font-weight: 300 !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    .workshop_capacity {
        margin-left: 15px !important;
        font-weight: bold;
    }

    .workshop_choose {
        margin-right: 15px !important;
        cursor: pointer !important;
        font-weight: bold !important;
    }

    .workshop_closed {
        margin-right: 15px !important;
        font-weight: bold !important;
    }

    .workshop_detail_subtitle {
        font-weight: 300;
        text-transform: uppercase;
        word-spacing: -3px;
    }

    .workshop_detail_subtitle span {
        font-weight: 500;
    }

    /*For workshop presenter blocks*/
    figure.effect-test figcaption {
        color: #fff;
        padding: 2em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    figure.effect-test figcaption::before,
    figure.effect-test figcaption::after {
        pointer-events: none;
    }

    figure.effect-test figcaption,
    figure.effect-test figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    figure.effect-test {
        /*border: 1px solid #e97d15;*/
        border-radius: 7px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        max-width: 400px;
        max-height: 400px;
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,6) 25%, rgba(255, 153, 0, 0.8) 75%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.6) 25%, rgba(255,153,0,0.8) 75%);
        cursor: pointer;
        border-radius: 10px;
    }

    figure.effect-test img {
        opacity: 1;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
    }

    figure.effect-test:hover img {
        opacity: 0.6;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }

    figure.effect-test figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }

    figure.effect-test:hover figcaption::before {
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    }

    figure.effect-test h2 {
        margin: 0;
        font-weight: 100;
        word-wrap: break-word;
        text-transform: uppercase;
        color: #fff;
        opacity: 0;
        text-align: center;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        word-spacing: -5px;
    }

    figure.effect-test h2 span {
        font-weight: 400;
    }

    figure.effect-test:hover h2 {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    figure.effect-test p {
        position: absolute;
        color: #fff;
        right: 0;
        bottom: 0;
        margin: 3em;
        padding: 0 1em;
        max-width: 150px;
        font-weight: 100;
        border-right: 4px solid #fff;
        text-align: right;
        font-weight: 300;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figure.effect-test:hover p {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
