{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Families{% endblock %}

{% block additional_head %}
    <link href="{% static 'registration/cropper.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'registration/imagehover.css' %}" rel="stylesheet">

    <style>
    body, html {
        background: #eeeeee;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 80px;">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col s10 offset-s1 center-align">
                <h3 style="font-weight: 300; margin-top: 50px;">Families</h3>
                <p class="grey-text text-darken-2"><b class="orange-text">Click</b> or <b class="orange-text">tap</b> on a family leader portrait below to view more information
                about them and their family.</p>
            </div>
        </div>

        <div class="row center-align">
            <div class="col s10 offset-s1">
                <h4 style="font-weight: 300;">Family information coming soon!</h4>
            </div>
        </div>

{#        {% if family_leaders %}#}
{#        <div class="row" style="margin-bottom: 50px;">#}
{#            {% for fl in family_leaders %}#}
{#            <div class="col s10 l3 offset-s1 center-align animated fadeInUp" style="margin-bottom: 20px; animation-delay: {{ fl.animation_delay }}s">#}
{#                <figure class="effect-bubba z-depth-1 hoverable">#}
{#                {% if fl.photo_name %}#}
{#                    <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/attendee_photos/{{ fl.photo_name }}">#}
{#                {% else %}#}
{#                    <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/no_photo.jpeg">#}
{#                {% endif %}#}
{#                    <figcaption>#}
{#                        <h2 class="flow-text">{{ fl.first_name }} <span>{{ fl.last_name }}</span></h2>#}
{#                        <p>{{ fl.family_name }}</p>#}
{#                        <a href="#!"></a>#}
{#                    </figcaption>#}
{#                </figure>#}
{#            </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#        {% else %}#}
{#        <div class="row center-align">#}
{#            <div class="col s10 offset-s1">#}
{#                <h4 style="font-weight: 300;">Family information coming soon!</h4>#}
{#            </div>#}
{#        </div>#}
{#        {% endif %}#}
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'registration/cropper.min.js' %}"></script>

    {# If messages exist, they will appear here. Use the messages package in views.py to create messages #}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function(){
                    Materialize.toast('{{ message|safe }}', 8000);
                });
            </script>
        {% endfor %}
    {% endif %}

    <script>
    $(document).ready(function(){
        {% if user.userinfo.workshop_one %}
            $("#session_one_section").hide();
        {% endif %}

        {% if user.userinfo.workshop_two %}
            $("#session_two_section").hide();
        {% endif %}
    });

    $("#session_one_section_toggle").click(function(){
        $("#session_one_section").toggle(300);
    });

    $("#session_two_section_toggle").click(function(){
        $("#session_two_section").toggle(300);
    });
    </script>

{% endblock %}