{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <p class="flow-text">Welcome {{ user.first_name }} {{ user.last_name }}. You are now logged in.</p>
                <p class="flow-text">This is a placeholder page until the landing page is complete.</p>

                <p class="flow-text">Today's date and time: {{ today }} CST</p>
                <p class="flow-text">Early Reg Open Date: {{ open_date }} CST</p>

                {% if early_reg_open %}
                    <p class="flow-text">Early Registration is currently open.</p>
                {% else %}
                    <p class="flow-text">Early Registration is currently NOT open.</p>
                {% endif %}

{#                Hiding this for now...#}
{#                {{ pp_button_one.render }}#}
            </div>
        </div>
    </div>
{% endblock %}