{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'registration/styles.css' %}" />

    <style>
        body, html {
            height: 100%;
        }
    </style>

</head>

<body>

    {# Navigation #}
    <ul id="slide-out" class="side-nav fixed grey lighten-4" style="z-index: 999;">
        <div class="center-align" style="margin: 20px 0 20px 0;">
            <img width="50" src="http://via1.org/registration/images/logos/uvsamw_logo_transparent.png">
        </div>

        <li class="active"><a href="#!" class="waves-effect waves-orange tooltipped" data-position="right" data-delay="75" data-tooltip="Home"><i class="material-icons black-text">home</i></a></li>
        <li><a href="#!" class="waves-effect waves-orange tooltipped" data-position="right" data-delay="75" data-tooltip="Profile"><i class="material-icons black-text">person</i></a></li>
        <li><a href="#!" class="waves-effect waves-orange tooltipped" data-position="right" data-delay="75" data-tooltip="Hotel"><i class="material-icons black-text">hotel</i></a></li>
        <li><a href="#!" class="waves-effect waves-orange tooltipped" data-position="right" data-delay="75" data-tooltip="Workshops"><i class="material-icons black-text">speaker_notes</i></a></li>
        <li><a href="#!" class="waves-effect waves-orange tooltipped" data-position="right" data-delay="75" data-tooltip="Families"><i class="material-icons black-text">group</i></a></li>
        <li><div class="divider"></div></li>
        <li><a href="/registration/logout" class="waves-effect waves-orange tooltipped" data-position="right" data-delay="75" data-tooltip="Log Out"><i class="material-icons black-text">subdirectory_arrow_left</i></a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse z-depth-2 btn-floating btn-medium waves-effect waves-orange white left" style="margin: 15px; position: absolute; z-index: 998;"><i class="small material-icons black-text">menu</i></a>

{#    <div class="right hide-on-large-only" style="margin: 15px; position:">#}
{#        <img width="40" src="http://via1.org/registration/images/logos/uvsamw_logo_transparent.png">#}
{#    </div>#}


{% block content %}
{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    {# Miscellaneous #}
    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav({
            menuWidth: 80
        });
        // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        //$('.collapsible').collapsible();

        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
        });

        // For Materalize modal windows
        $(document).ready(function(){
            $('.modal').modal();
        });

        // Parallax Scrolling
        $(document).ready(function(){
            $('.parallax').parallax();
        });

        // Scrollspy
        $(document).ready(function(){
            $('.scrollspy').scrollSpy({
                scrollOffset: 50
            });
        });

        // Materialize select form
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

    {# To show currently selected page on the side-nav #}
    <script>
        var selector = '.side-nav li';

        $(selector).on('click', function(){
            $(selector).removeClass('active');
            $(this).addClass('active');
        });
    </script>

    {# Scrollfire on home page #}
    <script>
        $(document).ready(function() {
          var options = [{
              selector: '#welcome_banner',
              offset: 1,
              callback: function (el) {
                  Materialize.fadeInImage($(el));
              }
          }];

          Materialize.scrollFire(options);
        });
    </script>

</body>
</html>