{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Home{% endblock %}

{% block additional_head %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
{% endblock %}

{% block content %}
    {# Welcome Banner / Header #}
    <div id="welcome_banner" class="parallax-container">
        <div class="parallax">
            <div class="banner_overlay"></div>
            <img class="responsive-img" src="https://via1.org/registration/images/cincinnati.JPG">
        </div>
        <div class="valign-wrapper" style="width: 100%; height: 100%; position: absolute; z-index: 100 !important">
            <div class="row center-align white-text animated fadeIn" style="animation-duration: 2.5s; animation-delay: 1s">
                <p class="flow-text" style="font-weight: 100; font-size: 48px; margin-bottom: 0">Hi, {{ user.first_name }}.
                <br>
                Welcome to VIA-1</p>
                <p class="flow-text">Registration is currently {% if is_early_reg_open or is_regular_reg_open or is_alumni_reg_open %} <strong class="orange-text">OPEN</strong> {% else %} <strong class="orange-text">CLOSED</strong> {% endif %}</p>
                <p class="flow-text">Your Registration Status: {% if user.has_paid %} <strong class="orange-text">PAID</strong> {% else %} <strong class="orange-text">UNPAID</strong> {% endif %}</p>

                {% if user.has_paid %}
                    <p class="flow-text">The deadline to refund is {{ refund_deadline }} CST</p>
                    <a href="#refund_request_modal" class="btn waves-effect waves-light orange modal-trigger hover_move_right"><i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>REFUND</a>
                {% else %}
                    <a href="#payment-section" class="white-text" style="cursor: pointer"><i class="material-icons medium hover_orange hover_move_down">keyboard_arrow_down</i></a>
                {% endif %}
            </div>
        </div>
    </div>

    {# Payment section -- Hide once the user has paid #}
    {% if not user.has_paid %}
    <div class="container">
        <div id="payment-section" class="row section scrollspy" style="margin-top: 50px;">
            <div class="col s12 l10 offset-l1 center-align">
                <h2 style="font-weight: 300">Conference Registration</h2>
                <h5 style="font-weight: 300; margin-bottom: 30px; font-size: 18px;">Standard registration includes conference t-shirt and badge, Saturday lunch, Saturday banquet dinner and gala performances, and much more!</h5>
                <p class="orange-text" style="font-weight:300; font-style: italic">Bundle registration with hotel to save money!</p>
            </div>

            <div class="col s12 l10 offset-l1 center-align" style="display: flex; flex-wrap: wrap;">
                {# Early registration card #}
                <div class="z-depth-1 col s12 m4 l4 hoverable" style="margin-bottom: 15px; padding-bottom: 25px">
                    <p class="flow-text" style="font-weight: 600; margin-bottom: 0;">EARLY <a class="orange-text hover_black modal-trigger" href="#early_reg_info_modal"><i class="material-icons">info_outline</i></a></p>
                    <b class="orange-text" style="font-size: 16px">Dec. 14 - Jan. 3</b>
                    <p style="font-style: italic">Exclusive to UVSA-Midwest member schools. Not verified? Click <a href="#mem_school_verify_modal" class="modal-trigger modal-close orange-text hover_black" style="font-weight: bold">here</a><br>
                        Status: {% if user.is_member_school %} <b class="green-text">ELIGIBLE</b> {% else %} <b class="red-text">INELIGIBLE</b> {% endif %}
                    </p>
                    <p style="font-weight: 500; font-size: 24px; margin-bottom:0;">${{ register_prices.EARLY_REG_PRICE }}</p>

                    <div class="row">
                        <div class="input-field col s10 offset-s1">

                        {% if is_early_reg_full %}
                            <p class="flow-text red-text" style="font-weight: bold">SOLD OUT</p>
                        {# display a disabled BUY NOW button when reg isn't open, otherwise render a PayPal button #}
                        {% elif not is_early_reg_open or not user.is_member_school %}
                            <select id="id_early_reg_select" disabled>
                                <option value="reg_only">Early Registration ($75.00)</option>
                                <option value="reg_and_hotel">Early Registration + Hotel ($135)</option>
                            </select>
                            <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                        {% else %}
                            <select id="id_early_reg_select">
                                <option value="reg_only">Early Registration ($75.00)</option>
                                <option value="reg_and_hotel">Early Registration + Hotel ($135)</option>
                            </select>
                            <div id="id_early_reg_pp_button"></div>
                        {% endif %}

                        </div>
                    </div>

                </div>
                {# Regular registration card #}
                <div class="z-depth-3 col s12 m4 l4 hoverable" style="margin-bottom: 15px; padding-bottom: 25px">
                    <p class="flow-text" style="font-weight: 600; margin-bottom: 0;">REGULAR</p>
                    <b class="orange-text" style="font-size: 16px">Jan. 4 - Jan. 18</b>
                    <p style="font-style: italic">Open to all attendees</p>
                    <p style="font-weight: 500; font-size: 24px; margin-bottom: 0;">${{ register_prices.REGULAR_REG_PRICE }}</p>

                    <div class="row">
                        <div class="input-field col s10 offset-s1">

                        {% if is_regular_reg_full %}
                            <p class="flow-text red-text" style="font-weight: bold">SOLD OUT</p>
                        {# display a disabled BUY NOW button when reg isn't open, otherwise render a PayPal button #}
                        {% elif not is_regular_reg_open %}
                            <select id="id_regular_reg_select" disabled>
                                <option value="reg_only">Regular Registration ($85.00)</option>
                                <option value="reg_and_hotel">Regular Registration + Hotel ($145)</option>
                            </select>
                            <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                        {% else %}
                            <select id="id_regular_reg_select">
                                <option value="reg_only">Regular Registration ($85.00)</option>
                                <option value="reg_and_hotel">Regular Registration + Hotel ($145)</option>
                            </select>
                            <div id="id_regular_reg_pp_button"></div>
                        {% endif %}

                        </div>
                    </div>

                </div>
                {# Alumni registration card #}
                <div class="z-depth-1 col s12 m4 l4 hoverable" style="margin-bottom: 15px; padding-bottom: 25px">
                    <p class="flow-text" style="font-weight: 600; margin-bottom: 0;">ALUMNI <a class="orange-text hover_black modal-trigger" href="#alumni_info_modal"><i class="material-icons">info_outline</i></a></p>
                    <b class="orange-text" style="font-size: 16px">Jan. 4 - Jan 18</b>
                    <p style="font-style: italic">Verify your alumni status <a href="#alumni_verify_modal" class="modal-trigger modal-close orange-text hover_black" style="font-weight: bold;">here</a> to access this option<br>
{#                    <p style="font-style: italic">Alumni verification process coming soon!<br>#}
                    Status: {% if user.is_alumni %} <b class="green-text">ELIGIBLE</b> {% else %} <b class="red-text">INELIGIBLE</b> {% endif %}
                    </p>
                    <p style="font-weight: 500; font-size: 24px; margin-bottom: 0;">${{ register_prices.ALUMNI_REG_PRICE }}</p>

                    <div class="row">
                        <div class="input-field col s10 offset-s1">

                        {% if is_alumni_reg_full %}
                            <p class="flow-text red-text" style="font-weight: bold">SOLD OUT</p>
                        {# display a disabled BUY NOW button when reg isn't open, otherwise render a PayPal button #}
                        {% elif not is_alumni_reg_open or not user.is_alumni %}
                            <select id="id_alumni_reg_select" disabled>
                                <option value="reg_only">Alumni Registration ($75.00)</option>
                                <option value="reg_and_hotel">Alumni Registration + Hotel ($135)</option>
                            </select>
                            <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                        {% else %}
                            <select id="id_alumni_reg_select">
                                <option value="reg_only">Alumni Registration ($75.00)</option>
                                <option value="reg_and_hotel">Alumni Registration + Hotel ($135)</option>
                            </select>
                            <div id="id_alumni_reg_pp_button"></div>
                        {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>
    {% endif %}

    {# Alumni Info Pop-up Modal #}
    <div id="alumni_info_modal" class="modal modal-fixed-footer">
        <div class="modal-content flow-text">
            <h4>Who qualifies as Alumni?</h4>
            <p>Those who qualify for alumni programming will be members that have fulfilled a full term as a part of staff for a UVSA-Midwest event or position such as the following:</p>
            <p>- Executive Board<br>
                - Executive Directors<br>
                - VIA-1 Committee Director / Staff<br>
                - Leadership Summit Staff<br>
                - Board of Directors
            </p>
            <p>Note: If you fulfill any of the following roles, you are eligible to participate in Alumni Programming events:</p>
            <p>- Workshop Presenter<br>
                - Performer<br>
                - Silver Tier Sponsor and above
            </p>
            <h4>Why should I register as an Alumni?</h4>
            <p>This year UVSA-Midwest will be creating programming specifically catered to our wonderful alumni community.
                Our goal this year is to reconnect, reignite passions, and to provide various opportunities for alumni to
                remain involved even past graduation. We have done away with banquet-only registration in the interest of
                providing you a weekend full of value outside of the traditional banquet-only experience we used to offer
                in the past. Programming you may look forward to includes (but certainly not limited to):
            </p>
            <p>- Separate Alumni breakfast<br>
                - Separate Alumni catered lunch<br>
                - Separate workshop for Alumni<br>
                - Option to participate in our new Anh/Chi/Em program
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="z-depth-3 modal-action modal-close waves-effect waves-light btn orange">Got it!</a>
        </div>
    </div>

    {# Early Registration Info Pop-up Modal #}
    <div id="early_reg_info_modal" class="modal modal-fixed-footer">
        <div class="modal-content flow-text">
            <h4>How do I qualify for early registration?</h4>
            <p>In order to access early registration, your account must be created using a UVSA-Midwest member school email address
            (e.g. @mail.uc.edu, @umn.edu, etc.)</p>
            <p>A list of eligible schools can be found <a href="http://bit.ly/2hJhW1m" target="_blank" class="orange-text hover_black">here</a></p>
            <h4>I associate with a qualified member school but do not have a school email -- what should I do?</h4>
            <p>You can apply for access <a href="#mem_school_verify_modal" class="modal-trigger modal-close orange-text hover_black">here</a>.
            Upon submission, an email will be sent to the appropriate school's VSA president and they will either approve or deny your request.
            If approved, access to early registration will be granted.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="z-depth-3 modal-action modal-close waves-effect waves-light btn orange">Got it!</a>
        </div>
    </div>

    {# Member School Verification Pop-Up Modal #}
    <div id="mem_school_verify_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="center-align">
                    <h5>Member School Verification Form</h5>
                </div>
                <form method="POST" action="{% url 'member_school_verification_request' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s5 l4 offset-s1 offset-l2">
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name" value="{{ user.first_name|default_if_none:"" }}" readonly required>
                        </div>
                        <div class="input-field col s5 l4">
                            <label for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" value="{{ user.last_name|default_if_none:"" }}" readonly required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="{{ user.email|default_if_none:"" }}" readonly required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="phone_number">Phone Number (no dashes)</label>
                            <input type="tel" id="phone_number" pattern="^\d{10}$" name="phone_number" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <select id="school_association" name="school_association" required>
                                <option value="" disabled selected>Choose...</option>
                                {% for school in member_school_names %}
                                    <option value="{{ school }}">{{ school }}</option>
                                {% endfor %}
                            </select>
                            <label for="school_association">School Association</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="z-depth-3 waves-effect waves-light orange btn">Request Verification</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Alumni Verification Pop-Up Modal #}
    <div id="alumni_verify_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="center-align">
                    <h5>Alumni Verification Form</h5>
                </div>
                <form method="POST" action="{% url 'alumni_verification_request' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s5 l4 offset-s1 offset-l2">
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name" value="{{ user.first_name|default_if_none:"" }}" readonly required>
                        </div>
                        <div class="input-field col s5 l4">
                            <label for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" value="{{ user.last_name|default_if_none:"" }}" readonly required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="positions">Positions previously held with UVSA-Midwest (including year)</label>
                            <textarea id="positions" name="positions" class="materialize-textarea" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="alumni_school" class="active">Affiliated School/Organization</label>
                            <select id="alumni_school" name="alumni_school" required>
                                <option value="" disabled selected>Choose...</option>
                                <option value="other">Other</option>
                                {% for school in member_school_names %}
                                    <option value="{{ school }}">{{ school }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="other_alumni_verif_field" class="input-field col s10 l8 offset-s1 offset-l2" style="display:none;">
                            <label for="other_alumni_school">Enter your school</label>
                            <input type="text" id="other_alumni_school" name="other_alumni_school" maxlength="65">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="staff_email">UVSA-MW Staff Email</label>
                            <input type="email" id="staff_email" name="staff_email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 l8 offset-s1 offset-l2">
                            <p>
                                <input type="checkbox" id="sponsor" name="sponsor" value="interested" />
                                <label for="sponsor">Would you be interested in being a sponsor for the conference or sponsoring an attendee scholarship?</label>
                            </p>
                        </div>
                        <div class="col s10 l8 offset-s1 offset-l2">
                            <p>
                                <input type="checkbox" id="ace_program" name="ace_program" value="interested" />
                                <label for="ace_program">Would you be interested in taking part in our Anh/Chi/Em Program?</label>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="z-depth-3 waves-effect waves-light orange btn">Request Verification</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Refund Request Pop-Up Modal #}
    <div id="refund_request_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="center-align">
                    <h5>Registration Refund Request</h5>
                    <p>Make sure each field is typed accurately to ensure a smooth refund experience.</p>
                </div>
                <form method="POST" action="{% url 'refund_request' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="pp_name">Full Name On PayPal Account</label>
                            <input type="text" id="pp_name" name="pp_name" required>
                        </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="pp_email">PayPal Email</label>
                            <input type="email" id="pp_email" name="pp_email" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="z-depth-3 waves-effect waves-light orange btn hover_move_right">
                                <i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_scripts %}
    {# Paypal Express Check Out for Early Reg Button #}
    {% if not user.has_paid and is_early_reg_open and user.is_member_school %}
        <script>
            // Global variable so it can be used in both the payment and onAuthorize contexts
            var reg_type;

            paypal.Button.render({

                env: 'production', // 'sandbox' or 'production'

                client: {
                    sandbox:    'Ab27EY00zHVJxLJOXzg5qsD-BPhmZN5eKEtl9t-JZLx3FWDedGCcv_dY3ThY0WyokpArcbGNB-fKmHOV',
                    production: 'AcX7YmOuHyEA6dZhpNEYeaU1hni05wB3dVyPFEEReHgzByz3B-BA8YXclcsY_WiCws3k-2K99JRRl_5I'
                },

                commit: true, // Show a 'Pay Now' button

                style: {
                    color:  'black',
                    size:   'responsive',
                    shape:  'rect',
                    label:  'pay',
                    tagline: false
                },

                payment: function(data, actions) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", '{% url 'is_conference_full' %}', false);
                    xhttp.send();
                    var json_data = JSON.parse(xhttp.responseText);

                    if (!json_data.is_early_reg_full) {
                        var price, description, invoice_prefix;

                        // Get the user's package choice (Reg only or Reg + Hotel)
                        var price_dropdown = document.getElementById("id_early_reg_select");
                        var price_choice = price_dropdown.options[price_dropdown.selectedIndex].value;

                        // Generate a random 9-digit number for the invoice
                        var invoice_number = Math.floor(Math.random() * 899999999 + 100000000);

                        // Set variables based on package choice (Reg only or Reg + Hotel)
                        if (price_choice === 'reg_only') {
                            price = {{ register_prices.EARLY_REG_PRICE }};
                            description = '2018 VIA-1 Early Registration';
                            invoice_prefix = 'via1-2018-reg-';
                            reg_type = '{{ register_types.EARLY_REG }}';
                        } else {
                            price = {{ register_prices.EARLY_REG_PRICE }} + {{ register_prices.HOTEL_BUNDLE_PRICE }};
                            description = '2018 VIA-1 Early Registration + Hotel';
                            invoice_prefix = 'via1-2018-reg-hotel-';
                            reg_type = '{{ register_types.EARLY_REG_HOTEL }}';
                        }

                        return actions.payment.create({
                            payment: {
                                transactions: [
                                    {
                                        amount: {
                                            total: price,
                                            currency: 'USD'
                                        },
                                        description: description,
                                        item_list: {
                                            items: [
                                                {
                                                    name: description,  // We can just use the description for the item name, too
                                                    price: price,
                                                    currency: 'USD',
                                                    quantity: 1
                                                }
                                            ]
                                        },
                                        invoice_number: invoice_prefix + {{ user.id }} + '-' + invoice_number,
                                        custom: reg_type
                                    }
                                ],
                                redirect_urls: {
                                    return_url: '{% url 'index' %}',
                                    cancel_url: '{% url 'index' %}'
                                }
                            },
                            experience: {
                                input_fields: {
                                    no_shipping: 1
                                }
                            }
                        });
                    } else {
                        //return actions.payment.close()
                        // This will close the dialog and return the user back to the home page
                        top.location.replace(document.location);
                        // Need to re-direct user to a page? or maybe replace button with a "conference has reached capacity"? or maybe display a modal
                    }

                },

                onAuthorize: function(data, actions) {
                    // Payment is complete but still needs to be submitted. First check if capacity was hit during the transaction, if so, cancel payment. Otherwise, continue
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", '{% url 'is_conference_full' %}', false);
                    xhttp.send();
                    var json_data = JSON.parse(xhttp.responseText);

                    if (!json_data.is_early_reg_full) {
                        return actions.payment.execute().then(function(payment) {
                            // This endpoint will check the validity of the request. If valid, the user's status will be changed to paid
                            // The total attendee count will also be incremented
                            $.ajax({
                                url: '{% url 'update_paid_attendee' %}',
                                data: {
                                    'paymentID': data.paymentID,
                                    'reg_type': reg_type
                                }
                            });
                            // TODO Need to change this. If the user doesn't hit okay immediately, the ajax call above can't complete.
                            window.alert('Payment complete. It may take several moments for the system to update. A PayPal confirmation has been sent to your email.');
                            // The payment is complete!
                            // Redirect user to home page
                            window.location.replace('{% url 'home' %}')
                        });
                    } else {
                        // We don't have to do anything to "cancel" the order. So at this point, we can just show a dialog that says reg is full
                        window.alert('Payment could not be processed. Conference is at capacity.')
                    }
                },

                onCancel: function(data, actions) {
                    // Don't have to do anything on cancel
                },

                onError: function(err) {
                    // This alert might be ugly on mobile. TBD
                    window.alert('An error occurred while checking out. Please try again. If the problem persists, contact conference.executive@uvsamidwest.org')
                    // onError seems to be called for scenarios like invoice ID being used twice etc
                    // Maybe we want to display a toast that says an error occurred while paying. Try again
                }

            }, '#id_early_reg_pp_button');
        </script>
    {% endif %}


    {# Paypal Express Check Out for Regular Reg Button #}
    {% if not user.has_paid and is_regular_reg_open %}
        <script>
            // Global variable so it can be used in both the payment and onAuthorize contexts
            var reg_type;

            paypal.Button.render({

                env: 'production', // 'sandbox' or 'production'

                client: {
                    sandbox:    'Ab27EY00zHVJxLJOXzg5qsD-BPhmZN5eKEtl9t-JZLx3FWDedGCcv_dY3ThY0WyokpArcbGNB-fKmHOV',
                    production: 'AcX7YmOuHyEA6dZhpNEYeaU1hni05wB3dVyPFEEReHgzByz3B-BA8YXclcsY_WiCws3k-2K99JRRl_5I'
                },

                commit: true, // Show a 'Pay Now' button

                style: {
                    color:  'black',
                    size:   'responsive',
                    shape:  'rect',
                    label:  'pay',
                    tagline: false
                },

                payment: function(data, actions) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", '{% url 'is_conference_full' %}', false);
                    xhttp.send();
                    var json_data = JSON.parse(xhttp.responseText);

                    if (!json_data.is_regular_reg_full) {
                        var price, description, invoice_prefix;

                        // Get the user's package choice (Reg only or Reg + Hotel)
                        var price_dropdown = document.getElementById("id_regular_reg_select");
                        var price_choice = price_dropdown.options[price_dropdown.selectedIndex].value;

                        // Generate a random 9-digit number for the invoice
                        var invoice_number = Math.floor(Math.random() * 899999999 + 100000000);

                        // Set variables based on package choice (Reg only or Reg + Hotel)
                        if (price_choice === 'reg_only') {
                            price = {{ register_prices.REGULAR_REG_PRICE }};
                            description = '2018 VIA-1 Regular Registration';
                            invoice_prefix = 'via1-2018-reg-';
                            reg_type = '{{ register_types.REGULAR_REG }}';
                        } else {
                            price = {{ register_prices.REGULAR_REG_PRICE }} + {{ register_prices.HOTEL_BUNDLE_PRICE }};
                            description = '2018 VIA-1 Regular Registration + Hotel';
                            invoice_prefix = 'via1-2018-reg-hotel-';
                            reg_type = '{{ register_types.REGULAR_REG_HOTEL }}';
                        }

                        return actions.payment.create({
                            payment: {
                                transactions: [
                                    {
                                        amount: {
                                            total: price,
                                            currency: 'USD'
                                        },
                                        description: description,
                                        item_list: {
                                            items: [
                                                {
                                                    name: description,  // We can just use the description for the item name, too
                                                    price: price,
                                                    currency: 'USD',
                                                    quantity: 1
                                                }
                                            ]
                                        },
                                        invoice_number: invoice_prefix + {{ user.id }} + '-' + invoice_number,
                                        custom: reg_type
                                    }
                                ],
                                redirect_urls: {
                                    return_url: '{% url 'index' %}',
                                    cancel_url: '{% url 'index' %}'
                                }
                            },
                            experience: {
                                input_fields: {
                                    no_shipping: 1
                                }
                            }
                        });
                    } else {
                        //return actions.payment.close()
                        // This will close the dialog and return the user back to the home page
                        top.location.replace(document.location);
                        // Need to re-direct user to a page? or maybe replace button with a "conference has reached capacity"? or maybe display a modal
                    }

                },

                onAuthorize: function(data, actions) {
                    // Payment is complete but still needs to be submitted. First check if capacity was hit during the transaction, if so, cancel payment. Otherwise, continue
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", '{% url 'is_conference_full' %}', false);
                    xhttp.send();
                    var json_data = JSON.parse(xhttp.responseText);

                    if (!json_data.is_regular_reg_full) {
                        return actions.payment.execute().then(function(payment) {
                            // This endpoint will check the validity of the request. If valid, the user's status will be changed to paid
                            // The total attendee count will also be incremented
                            $.ajax({
                                url: '{% url 'update_paid_attendee' %}',
                                data: {
                                    'paymentID': data.paymentID,
                                    'reg_type': reg_type
                                }
                            });

                            window.alert('Payment complete. It may take several moments for the system to update. A PayPal confirmation has been sent to your email.');
                            // The payment is complete!
                            // Redirect user to home page
                            window.location.replace('{% url 'home' %}')
                        });
                    } else {
                        // We don't have to do anything to "cancel" the order. So at this point, we can just show a dialog that says reg is full
                        window.alert('Payment could not be processed. Conference is at capacity.')
                    }
                },

                onCancel: function(data, actions) {
                    // Don't have to do anything on cancel
                },

                onError: function(err) {
                    // This alert might be ugly on mobile. TBD
                    window.alert('An error occurred while checking out. Please try again. If the problem persists, contact conference.executive@uvsamidwest.org')
                    // onError seems to be called for scenarios like invoice ID being used twice etc
                    // Maybe we want to display a toast that says an error occurred while paying. Try again
                }

            }, '#id_regular_reg_pp_button');
        </script>
    {% endif %}


    {# Paypal Express Check Out for Early Reg Button #}
    {% if not user.has_paid and is_alumni_reg_open and user.is_alumni %}
        <script>
            // Global variable so it can be used in both the payment and onAuthorize contexts
            var reg_type;

            paypal.Button.render({

                env: 'production', // 'sandbox' or 'production'

                client: {
                    sandbox:    'Ab27EY00zHVJxLJOXzg5qsD-BPhmZN5eKEtl9t-JZLx3FWDedGCcv_dY3ThY0WyokpArcbGNB-fKmHOV',
                    production: 'AcX7YmOuHyEA6dZhpNEYeaU1hni05wB3dVyPFEEReHgzByz3B-BA8YXclcsY_WiCws3k-2K99JRRl_5I'
                },

                commit: true, // Show a 'Pay Now' button

                style: {
                    color:  'black',
                    size:   'responsive',
                    shape:  'rect',
                    label:  'pay',
                    tagline: false
                },

                payment: function(data, actions) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", '{% url 'is_conference_full' %}', false);
                    xhttp.send();
                    var json_data = JSON.parse(xhttp.responseText);

                    if (!json_data.is_alumni_reg_full) {
                        var price, description, invoice_prefix;

                        // Get the user's package choice (Reg only or Reg + Hotel)
                        var price_dropdown = document.getElementById("id_alumni_reg_select");
                        var price_choice = price_dropdown.options[price_dropdown.selectedIndex].value;

                        // Generate a random 9-digit number for the invoice
                        var invoice_number = Math.floor(Math.random() * 899999999 + 100000000);

                        // Set variables based on package choice (Reg only or Reg + Hotel)
                        if (price_choice === 'reg_only') {
                            price = {{ register_prices.ALUMNI_REG_PRICE }};
                            description = '2018 VIA-1 Alumni Registration';
                            invoice_prefix = 'via1-2018-reg-';
                            reg_type = '{{ register_types.ALUMNI_REG }}';
                        } else {
                            price = {{ register_prices.ALUMNI_REG_PRICE }} + {{ register_prices.HOTEL_BUNDLE_PRICE }};
                            description = '2018 VIA-1 Alumni Registration + Hotel';
                            invoice_prefix = 'via1-2018-reg-hotel-';
                            reg_type = '{{ register_types.ALUMNI_REG_HOTEL }}';
                        }

                        return actions.payment.create({
                            payment: {
                                transactions: [
                                    {
                                        amount: {
                                            total: price,
                                            currency: 'USD'
                                        },
                                        description: description,
                                        item_list: {
                                            items: [
                                                {
                                                    name: description,  // We can just use the description for the item name, too
                                                    price: price,
                                                    currency: 'USD',
                                                    quantity: 1
                                                }
                                            ]
                                        },
                                        invoice_number: invoice_prefix + {{ user.id }} + '-' + invoice_number,
                                        custom: reg_type
                                    }
                                ],
                                redirect_urls: {
                                    return_url: '{% url 'index' %}',
                                    cancel_url: '{% url 'index' %}'
                                }
                            },
                            experience: {
                                input_fields: {
                                    no_shipping: 1
                                }
                            }
                        });
                    } else {
                        //return actions.payment.close()
                        // This will close the dialog and return the user back to the home page
                        top.location.replace(document.location);
                        // Need to re-direct user to a page? or maybe replace button with a "conference has reached capacity"? or maybe display a modal
                    }

                },

                onAuthorize: function(data, actions) {
                    // Payment is complete but still needs to be submitted. First check if capacity was hit during the transaction, if so, cancel payment. Otherwise, continue
                    var xhttp = new XMLHttpRequest();
                    xhttp.open("GET", '{% url 'is_conference_full' %}', false);
                    xhttp.send();
                    var json_data = JSON.parse(xhttp.responseText);

                    if (!json_data.is_alumni_reg_full) {
                        return actions.payment.execute().then(function(payment) {
                            // This endpoint will check the validity of the request. If valid, the user's status will be changed to paid
                            // The total attendee count will also be incremented
                            $.ajax({
                                url: '{% url 'update_paid_attendee' %}',
                                data: {
                                    'paymentID': data.paymentID,
                                    'reg_type': reg_type
                                }
                            });

                            window.alert('Payment complete. It may take several moments for the system to update. A PayPal confirmation has been sent to your email.');
                            // The payment is complete!
                            // Redirect user to home page
                            window.location.replace('{% url 'home' %}')
                        });
                    } else {
                        // We don't have to do anything to "cancel" the order. So at this point, we can just show a dialog that says reg is full
                        window.alert('Payment could not be processed. Conference is at capacity.')
                    }
                },

                onCancel: function(data, actions) {
                    // Don't have to do anything on cancel
                },

                onError: function(err) {
                    // This alert might be ugly on mobile. TBD
                    window.alert('An error occurred while checking out. Please try again. If the problem persists, contact conference.executive@uvsamidwest.org')
                    // onError seems to be called for scenarios like invoice ID being used twice etc
                    // Maybe we want to display a toast that says an error occurred while paying. Try again
                }

            }, '#id_alumni_reg_pp_button');
        </script>
    {% endif %}


    {# Scrollfire on home page -- for fade-in header/banner #}
    <script>
        $(document).ready(function() {
          var options = [{
              selector: '#welcome_banner',
              offset: 1,
              callback: function (el) {
                  Materialize.fadeInImage($(el));
              }
          }];

          Materialize.scrollFire(options);
        });
    </script>

    <script>
    $('#alumni_school').on('change',function(){
        if( $(this).val()==="other"){
            $("#other_alumni_verif_field").show()
        }
        else{
            $("#other_alumni_verif_field").hide()
        }
    });
    </script>

    {# If messages exist, they will appear here. Use the messages package in views.py to create messages #}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function(){
                    Materialize.toast('{{ message|safe }}', 8000);
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}