{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Home{% endblock %}

{% block content %}
    <div id="welcome_banner" class="parallax-container">
        <div class="parallax">
            <div class="banner_overlay"></div>
            <img class="responsive-img" src="http://via1.org/registration/images/cincinnati.JPG">
        </div>
        <div class="valign-wrapper" style="width: 100%; height: 100%; position: absolute; z-index: 100 !important">
            <div class="row center-align white-text">
                <p class="flow-text" style="font-weight: 100; font-size: 48px; margin-bottom: 0">Hi, {{ user.first_name }}.
                <br>
                Welcome to VIA-1</p>
                <p class="flow-text">Today's date and time: {{ todays_date }} CST</p>
                <p class="flow-text">Early Registration Opens On: {{ open_date }} CST</p>
                <a href="#payment-section" class="white-text" style="cursor: pointer"><i class="material-icons medium hover_orange">keyboard_arrow_down</i></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="payment-section" class="row section scrollspy" style="margin-top: 50px;">
            <div class="col s12 l10 offset-l1 center-align">
                <h2 style="font-weight: 300">Conference Registration</h2>
                <h5 style="font-weight: 100; margin-bottom: 30px">Register now to attend VIA-1</h5>
            </div>
            <div class="col s12 l10 offset-l1 center-align" style="display: flex; flex-wrap: wrap;">
                <div class="z-depth-1 col s12 m4 l4 hoverable" style="margin-bottom: 15px; padding-bottom: 25px">
                    <p class="flow-text" style="font-weight: 600; margin-bottom: 0;">EARLY <a class="orange-text hover_black modal-trigger" href="#early_reg_info_modal"><i class="material-icons">info_outline</i></a></p>
                    <b class="orange-text" style="font-size: 16px">Dec. 14 - Jan. 2</b>
                    <p style="font-style: italic">Exclusive to UVSA-Midwest member schools</p>
                    <p style="font-weight: 300; font-size: 24px; margin-bottom: 0;">${{ early_reg_price }}</p>

                    {# Displaying a disabled submit button so users can't view source and find out the form info #}
                    {% if not user.is_member_school or not is_early_reg_open %}
                        <div class="input-field col s10 offset-s1">
                            <select disabled>
                                <option value="Early Registration">Registration Only ($75.00)</option>
                                <option value="Early Registration + Hotel">Registration + Hotel ($135.00)</option>
                            </select>
                        </div>
                        <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                    {% else %}
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="business" value="{{ early_reg_pp_button.business.value }}" id="id_business" />

                            <input type="hidden" name="item_name" value="{{ early_reg_pp_button.item_name.value }}" id="id_item_name" />
                            <input type="hidden" name="notify_url" value="{{ early_reg_pp_button.notify_url.value }}" id="id_notify_url" />
                            <input type="hidden" name="cancel_return" value="{{ early_reg_pp_button.cancel_return.value }}" id="id_cancel_return" />
                            <input id="id_return_url" name="return" type="hidden" value="{{ early_reg_pp_button.return_url.value }}" />
                            <input type="hidden" name="custom" value="{{ early_reg_pp_button.custom.value }}" id="id_custom" />
                            <input type="hidden" name="invoice" value="{{ early_reg_pp_button.invoice.value }}" id="id_invoice" />
                            <input type="hidden" name="cmd" value="{{ early_reg_pp_button.cmd.value }}" id="id_cmd" />
                            <input type="hidden" name="charset" value="{{ early_reg_pp_button.charset.value }}" id="id_charset" />
                            <input type="hidden" name="currency_code" value="{{ early_reg_pp_button.currency_code.value }}" id="id_currency_code" />
                            <input type="hidden" name="no_shipping" value="{{ early_reg_pp_button.no_shipping.value }}" id="id_no_shipping" />
                            <input type="hidden" name="on0" value="Options">
                            <div class="input-field col s10 offset-s1">
                                <select name="os0">
                                    <option value="Early Registration">Registration Only ($75.00)</option>
                                    <option value="Early Registration + Hotel">Registration + Hotel ($135.00)</option>
                                </select>
                            </div>
                            <input type="hidden" name="option_select0" value="Early Registration">
                            <input type="hidden" name="option_amount0" value="75.00">
                            <input type="hidden" name="option_select1" value="Early Registration + Hotel">
                            <input type="hidden" name="option_amount1" value="135.00">
                            <button type="submit" class="btn waves-effect waves-light orange" name="submit">BUY NOW</button>
                        </form>
                    {% endif %}
                </div>
                <div class="z-depth-3 col s12 m4 l4 hoverable" style="margin-bottom: 15px; padding-bottom: 25px">
                    <p class="flow-text" style="font-weight: 600; margin-bottom: 0;">REGULAR</p>
                    <b class="orange-text" style="font-size: 16px">Jan. 3 - Jan. 14</b>
                    <p style="font-style: italic">Mihoy minoy</p>
                    <p style="font-weight: 300; font-size: 24px; margin-bottom: 0;">${{ regular_reg_price }}</p>

                    {# Displaying a disabled submit button so users can't view source and find out the form info ahead of time #}
                    {% if not is_regular_reg_open %}
                        <div class="input-field col s10 offset-s1">
                            <select disabled>
                                <option value="Regular Registration">Registration Only ($85.00)</option>
                                <option value="Regular Registration + Hotel">Registration + Hotel ($145.00)</option>
                            </select>
                        </div>
                        <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                    {% else %}
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="business" value="{{ regular_reg_pp_button.business.value }}" id="id_business" />

                            <input type="hidden" name="item_name" value="{{ regular_reg_pp_button.item_name.value }}" id="id_item_name" />
                            <input type="hidden" name="notify_url" value="{{ regular_reg_pp_button.notify_url.value }}" id="id_notify_url" />
                            <input type="hidden" name="cancel_return" value="{{ regular_reg_pp_button.cancel_return.value }}" id="id_cancel_return" />
                            <input id="id_return_url" name="return" type="hidden" value="{{ regular_reg_pp_button.return_url.value }}" />
                            <input type="hidden" name="custom" value="{{ regular_reg_pp_button.custom.value }}" id="id_custom" />
                            <input type="hidden" name="invoice" value="{{ regular_reg_pp_button.invoice.value }}" id="id_invoice" />
                            <input type="hidden" name="cmd" value="{{ regular_reg_pp_button.cmd.value }}" id="id_cmd" />
                            <input type="hidden" name="charset" value="{{ regular_reg_pp_button.charset.value }}" id="id_charset" />
                            <input type="hidden" name="currency_code" value="{{ regular_reg_pp_button.currency_code.value }}" id="id_currency_code" />
                            <input type="hidden" name="no_shipping" value="{{ regular_reg_pp_button.no_shipping.value }}" id="id_no_shipping" />
                            <input type="hidden" name="on0" value="Options">
                            <div class="input-field col s10 offset-s1">
                                <select name="os0">
                                    <option value="Regular Registration">Registration Only ($85.00)</option>
                                    <option value="Regular Registration + Hotel">Registration + Hotel ($145.00)</option>
                                </select>
                            </div>
                            <input type="hidden" name="option_select0" value="Regular Registration">
                            <input type="hidden" name="option_amount0" value="85.00">
                            <input type="hidden" name="option_select1" value="Regular Registration + Hotel">
                            <input type="hidden" name="option_amount1" value="145.00">
                            <button type="submit" class="btn waves-effect waves-light orange" name="submit">BUY NOW</button>
                        </form>
                    {% endif %}
                </div>
                <div class="z-depth-1 col s12 m4 l4 hoverable" style="margin-bottom: 15px; padding-bottom: 25px">
                    <p class="flow-text" style="font-weight: 600; margin-bottom: 0;">ALUMNI <a class="orange-text hover_black modal-trigger" href="#alumni_info_modal"><i class="material-icons">info_outline</i></a></p>
                    <b class="orange-text" style="font-size: 16px">Dec. 14 - Jan 14</b>
                    <p style="font-style: italic">You must first verify your alumni status <a href="#!" class="orange-text hover_black" style="font-weight: bold;">here</a> to access this option</p>
                    <p style="font-weight: 300; font-size: 24px; margin-bottom: 0;">${{ alumni_reg_price }}</p>

                    {# Displaying a disabled submit button so users can't view source and find out the form info #}
                    {% if not user.is_alumni or not is_alumni_reg_open %}
                        <div class="input-field col s10 offset-s1">
                            <select disabled>
                                <option value="Alumni Registration">Registration Only ($75.00)</option>
                                <option value="Alumni Registration + Hotel">Registration + Hotel ($135.00)</option>
                            </select>
                        </div>
                        <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                    {% else %}
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="business" value="{{ alumni_reg_pp_button.business.value }}" id="id_business" />

                            <input type="hidden" name="item_name" value="{{ alumni_reg_pp_button.item_name.value }}" id="id_item_name" />
                            <input type="hidden" name="notify_url" value="{{ alumni_reg_pp_button.notify_url.value }}" id="id_notify_url" />
                            <input type="hidden" name="cancel_return" value="{{ alumni_reg_pp_button.cancel_return.value }}" id="id_cancel_return" />
                            <input id="id_return_url" name="return" type="hidden" value="{{ alumni_reg_pp_button.return_url.value }}" />
                            <input type="hidden" name="custom" value="{{ alumni_reg_pp_button.custom.value }}" id="id_custom" />
                            <input type="hidden" name="invoice" value="{{ alumni_reg_pp_button.invoice.value }}" id="id_invoice" />
                            <input type="hidden" name="cmd" value="{{ alumni_reg_pp_button.cmd.value }}" id="id_cmd" />
                            <input type="hidden" name="charset" value="{{ alumni_reg_pp_button.charset.value }}" id="id_charset" />
                            <input type="hidden" name="currency_code" value="{{ alumni_reg_pp_button.currency_code.value }}" id="id_currency_code" />
                            <input type="hidden" name="no_shipping" value="{{ alumni_reg_pp_button.no_shipping.value }}" id="id_no_shipping" />
                            <input type="hidden" name="on0" value="Options">
                            <div class="input-field col s10 offset-s1">
                                <select name="os0">
                                    <option value="Alumni Registration">Registration Only ($75.00)</option>
                                    <option value="Alumni Registration + Hotel">Registration + Hotel ($135.00)</option>
                                </select>
                            </div>
                            <input type="hidden" name="option_select0" value="Alumni Registration">
                            <input type="hidden" name="option_amount0" value="75.00">
                            <input type="hidden" name="option_select1" value="Alumni Registration + Hotel">
                            <input type="hidden" name="option_amount1" value="135.00">
                            <button type="submit" class="btn waves-effect waves-light orange" name="submit">BUY NOW</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>

    {# Alumni Info Pop-up Modal #}
    <div id="alumni_info_modal" class="modal modal-fixed-footer">
        <div class="modal-content flow-text">
            <h5>Who Qualifies As Alumni?</h5>
            <p>A bunch of text</p>
            <h5>Why Should I Register As Alumni?</h5>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="z-depth-3 modal-action modal-close waves-effect waves-light btn orange">Got it!</a>
        </div>
    </div>

    {# Early Registration Info Pop-up Modal #}
    <div id="early_reg_info_modal" class="modal modal-fixed-footer">
        <div class="modal-content flow-text">
            <h5>How do I qualify for early registration?</h5>
            <p>In order to access early registration, your account must be created using a UVSA-Midwest member school email address
            (e.g. @mail.uc.edu, @umn.edu, etc.)</p>
            <p>A list of eligible schools can be found <a href="http://bit.ly/2hJhW1m" target="_blank" class="orange-text hover_black">here</a></p>
            <h5>I associate with a qualified member school but do not have a school email -- what should I do?</h5>
            <p>You can apply for access <a href="#mem_school_verify_modal" class="modal-trigger modal-close orange-text hover_black">here</a>.
            Upon submission, an email will be sent to the appropriate school's president and they will either approve or deny your request.
            If approved, access to early registration will be granted.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="z-depth-3 modal-action modal-close waves-effect waves-light btn orange">Got it!</a>
        </div>
    </div>

    {# Member School Verification Pop-Up Modal #}
    <div id="mem_school_verify_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="center-align">
                    <h5>Member School Verification Form</h5>
                </div>
                <form method="POST" action="{% url 'member_school_verification_processing' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s5 l4 offset-s1 offset-l2">
                            <label for="first_name">First Name</label>
                            <input type="text" id="first_name" name="first_name" value="{{ user.first_name|default_if_none:"" }}" readonly required>
                        </div>
                        <div class="input-field col s5 l4">
                            <label for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" value="{{ user.last_name|default_if_none:"" }}" readonly required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="{{ user.email|default_if_none:"" }}" readonly required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="phone_number">Phone Number (no dashes)</label>
                            <input type="tel" id="phone_number" pattern="^\d{10}$" name="phone_number" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <select id="school_association" name="school_association" required>
                                <option value="" disabled selected>Choose your option</option>
                                {% for school in member_school_names %}
                                    <option value="{{ school }}">{{ school }}</option>
                                {% endfor %}
                            </select>
                            <label for="school_association">School Association</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="z-depth-3 waves-effect waves-light orange btn">Request Verification</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_scripts %}
    {# Scrollfire on home page -- for fade-in header/banner #}
    <script>
        $(document).ready(function() {
          var options = [{
              selector: '#welcome_banner',
              offset: 1,
              callback: function (el) {
                  Materialize.fadeInImage($(el));
              }
          }];

          Materialize.scrollFire(options);
        });
    </script>

    {# If messages exist, they will appear here. Use the messages package in views.py to create messages #}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function(){
                    Materialize.toast('{{ message|safe }}', 8000);
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}