{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Hotel{% endblock %}

{% block additional_head %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <style>
        {# This is for the background #}
        #default_background {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom right,rgba(0, 47, 100, 0.70),rgba(220,66, 37, 0.70)), url({% static 'registration/login_bg.jpg' %}) center center / cover no-repeat;
            background-attachment: fixed;
        }
        #gradient_background {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom right,rgba(0, 47, 100, 0.70),rgba(220,66, 37, 0.70)) center center / cover no-repeat;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="default_background" class="hide-on-med-and-down"></div>
    <div id="gradient_background" class="hide-on-large-only"></div>

    <div class="container">
        <div class="row">
            <div class="z-depth-4 grey lighten-5 col s10 offset-s1 animated fadeInUpBig" style="padding: 24px 0 24px 0; border: 1px solid #EEE; border-radius: 5px; margin-top: 80px; margin-bottom: 80px; animation-delay: 0.2s;">
                {% if not user.has_paid_hotel %}
                    <div class="row center-align" style="margin-bottom: 0;">
                        <div class="col s10 offset-s1">
                            <h4 style="font-weight: 300;">Hotel</h4>
                            <p style="font-weight: 300;">Your hotel purchase includes two nights at the
                                <a class="orange-text hover_black" href="https://www.marriott.com/hotels/travel/cvgkg-kingsgate-marriott-conference-center-at-the-university-of-cincinnati/" target="_blank">
                                    Kingsgate Marriott Conference Center</a>
                            </p>
                            <p class="orange-text" style="font-weight:300; font-style: italic"><b>NOTE:</b> You will be able to
                            choose your roommates once you have paid for hotel.</p>
                        </div>
                    </div>

                    <div class="row center-align">
                        <div class="z-depth-2 col s10 l4 offset-s1 offset-l1 hoverable" style="border-radius: 10px; padding: 20px 35px 20px 35px;">
                            <h5 class="flow-text" style="font-weight: 600; margin:0">SINGLE SPOT</h5>
                            <p style="font-weight: 500; font-size: 24px; margin-bottom: 24px;">${{ hotel_price }}</p>

                            {% if not user.has_paid_hotel and is_hotel_payment_refund_open %}
                                <div id="id_single_spot_hotel_button"></div>
                            {% else %}
                                <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                            {% endif %}
                        </div>
                        <div class="col s10 l2 offset-s1" style="margin-top: 30px; margin-bottom: 30px;">
                            <h5><b>-OR-</b></h5>
                        </div>
                        <div class="z-depth-2 col s10 l4 offset-s1 hoverable" style="border-radius: 10px; padding: 20px 35px 20px 35px;">
                            <h5 class="flow-text" style="font-weight: 600; margin: 0;">WHOLE ROOM</h5>
                            <p style="font-weight: 500; font-size: 24px; margin-bottom: 24px;">${{ hotel_price_whole }}</p>

                            {% if not user.has_paid_hotel and is_hotel_payment_refund_open %}
                                <div id="id_whole_hotel_button"></div>
                            {% else %}
                                <button class="btn waves-effect waves-light orange" name="submit" disabled>BUY NOW</button>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {% if user.hotel_type == 'single_spot' %}   {# For the future: perhaps want to change this so its not a raw string #}
                        <div class="row center-align" style="margin-bottom: 0;">
                            <div class="col s10 offset-s1">
                                <h4 style="font-weight: 300;">Hotel</h4>
                                <p style="font-weight: 300;">You purchased a <strong>Single Spot</strong>.</p>
                                {% if is_roommate_choosing_open %}
                                    <p>The deadline to choose roommates is <b>{{ roommate_deadline }} CST</b>.
                                        Any attendees that are not in a full group (4/4) by this date will be automatically
                                        paired with other attendees. Note that each hotel room will have 4 occupants
                                        (e.g. two groups of size two will be paired to make a larger group of 4).
                                    </p>
                                {% else %}
                                    <p>The deadline to choose roommates was <b>{{ roommate_deadline }} CST</b>. You can no longer
                                    create, modify, or join groups.</p>
                                {% endif %}
                            </div>
                        </div>

                        {% if is_roommate_choosing_open %}
                        <div class="row center-align" style="margin-top: 15px; margin-bottom: 30px;">
                            <div class="col s10 offset-s1">
                                <input type="checkbox" id="coed_roommates" class="checkbox-orange" name="coed_roommates" {% if is_coed_checked %}checked{% endif %} />
                                <label for="coed_roommates" class="orange-text" style="font-style: italic">Check this box if you are okay with having co-ed roommates.</label>
                            </div>
                        </div>
                        {% endif %}

                        {# If the user is not in a room, show the buttons to either create a room or join one #}
                        {% if not room_code %}
                            {% if is_roommate_choosing_open %}
                            <div class="row center-align">
                                <div class="col s10 offset-s1">
                                    <p><b>Create a group or enter a group code to join a pre-existing group.</b></p>
                                </div>
                                <div class="input-field col s10 l3 offset-s1 offset-l2">
                                    <form method="get" action="{% url 'create_hotel_room' %}">
                                        <label for="group_size" class="active">Group Size</label>
                                        <select id="group_size" name="group_size">
                                            <option value="2">Two</option>
                                            <option value="4">Four</option>
                                        </select>
                                        <button type="submit" id="create_group_btn" class="z-depth-3 waves-effect waves-light orange btn">Create Group</button>
                                    </form>
                                </div>
                                <div class="col s12 l2" style="margin: 30px 0 30px 0;">
                                    <h5><b>-OR-</b></h5>
                                </div>
                                <div class="input-field col s10 l3 offset-s1">
                                    <form method="get" action="{% url 'join_room' %}">
                                        <label for="room_code">Group Code</label>
                                        <input type="text" id="room_code" name="room_code" max-length="10" required>
                                        <button type="submit" id="create_group_btn" class="z-depth-3 waves-effect waves-light orange btn">Join Group</button>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        {% else %}
                            <div class="row center-align">
                                <div class="col s10 l8 offset-s1 offset-l2">
                                    <h5>Group Code: <strong>{{ room_code }}</strong></h5>
                                    {% if is_room_leader and is_roommate_choosing_open %}
                                        <a href="#disband_group_modal" class="orange-text hover_black modal-trigger">Disband Group</a>
                                    {% elif is_roommate_choosing_open %}
                                        <a href="#disband_group_modal" class="orange-text hover_black modal-trigger">Leave Group</a>
                                    {% endif %}

                                    {% if is_roommate_choosing_open %}
                                        <p>{% if is_room_leader %}You are the group leader.<br>{% endif %}
                                            Distribute this group code to your friends so that they can join your group.
                                        </p>
                                    {% endif %}
                                    <table class="centered highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                {% if is_room_leader %}<th>Remove?</th>{% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for roommate in roommates %}
                                                <tr>
                                                    <td>{{ roommate.first_name }} {{ roommate.last_name }}</td>
                                                    <td>{{ roommate.email }}</td>
                                                    {% if is_room_leader %}
                                                    <td>
                                                        {% if not user.email == roommate.email and is_roommate_choosing_open %}
                                                            <a href="{% url 'remove_roommate' %}?email={{ roommate.email }}" class="orange-text hover_black">Remove</a>
                                                        {% endif %}
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <p><b>Capacity: {{ current_room_size }}/{{ room_capacity }}</b></p>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="row center-align" style="margin-bottom: 0;">
                            <div class="col s10 offset-s1">
                                <h4 style="font-weight: 300;">Hotel</h4>
                                <p style="font-weight: 300;">You purchased the <strong>Whole Room</strong> package.</p>
                            </div>
                        </div>
                        <div class="row center-align">
                            <div class="col s10 offset-s1">
                                {% if is_roommate_choosing_open %}
                                    <p>You may specify up to three roommates. These names will be given to hotel staff, giving
                                        each person the ability to request a room key from the front desk.</p>
                                {% else %}
                                    <p>The deadline to choose roommates was <b>{{ roommate_deadline }} CST</b>. You can no longer
                                        make adjustments to your room.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row center-align">
                            <div class="col s10 offset-s1">
                                {% if is_roommate_choosing_open %}
                                <p>Please input the first <strong>and</strong> last names of each roommate.</p>
                                {% endif %}
                                <form id="whole_room_form" method="get">
                                    <div class="input-field col s12 l4">
                                        <label for="roommate_one">Roommate 1</label>
                                        <input type="text" id="roommate_one" name="roommate_one" pattern="[a-zA-Z ]+" maxlength="32" oninvalid="setCustomValidity('Please enter letters and spaces only')" oninput="setCustomValidity('')" value="{{ roommate_one|default_if_none:'' }}" {% if not is_roommate_choosing_open %}disabled{% endif %}>
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <label for="roommate_two">Roommate 2</label>
                                        <input type="text" id="roommate_two" name="roommate_two" pattern="[a-zA-Z ]+" maxlength="32" oninvalid="setCustomValidity('Please enter letters and spaces only')" oninput="setCustomValidity('')" value="{{ roommate_two|default_if_none:'' }}" {% if not is_roommate_choosing_open %}disabled{% endif %}>
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <label for="roommate_three">Roommate 3</label>
                                        <input type="text" id="roommate_three" name="roommate_three" pattern="[a-zA-Z ]+" maxlength="32" oninvalid="setCustomValidity('Please enter letters and spaces only')" oninput="setCustomValidity('')" value="{{ roommate_three|default_if_none:'' }}" {% if not is_roommate_choosing_open %}disabled{% endif %}>
                                    </div>
                                    <div class="col s12" style="height: 50px; {% if not is_roommate_choosing_open %}display: none;{% endif %}">
                                        <div class="row" style="margin:0;">
                                            <div id="whole_room_submit_loader" class="sk-folding-cube" style="display:none">
                                                <div class="sk-cube1 sk-cube"></div>
                                                <div class="sk-cube2 sk-cube"></div>
                                                <div class="sk-cube4 sk-cube"></div>
                                                <div class="sk-cube3 sk-cube"></div>
                                            </div>
                                            <p id="success_text" class="green-text" style="display: none;">Success!</p>
                                            <button type="submit" id="whole_room_submit_btn" class="z-depth-3 waves-effect waves-light orange btn hover_move_right">
                                                <i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    {% endif %}
                    <div class="divider" style="margin: 30px 0 30px 0;"></div>
                    <div class="row center-align" style="margin: 0;">
                        <p>Need a refund? Click <a href="#refund_request_modal" class="orange-text modal-trigger hover_black"><b>Here</b></a></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# Hotel Refund Request Pop-Up Modal #}
    <div id="refund_request_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                {% if can_use_refund_button %}
                <div class="center-align">
                    <h5>Hotel Refund Request</h5>
                    <p>An email will be sent to the Finance Committee upon completion of this form. Note that this form
                    is for hotel refund ONLY. If you would like to refund registration, use the refund button on the home page.</p>
                </div>
                <form method="POST" action="{% url 'refund_hotel_request' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="pp_name">Full Name On PayPal Account</label>
                            <input type="text" id="pp_name" name="pp_name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 l8 offset-s1 offset-l2">
                            <label for="pp_email">PayPal Email</label>
                            <input type="email" id="pp_email" name="pp_email" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="z-depth-3 waves-effect waves-light orange btn hover_move_right">
                                <i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>Submit
                            </button>
                        </div>
                    </div>
                </form>
                {% else %}
                <div class="center-align">
                    <h5>Registration Refund Request</h5>
                    <p>{% if purchased_bundle %}Our records indicate that you purchased hotel in a registration bundle.
                    {% else %}Our records indicate that you did not purchase hotel using our PayPal system.
                    {% endif %}Please contact <b>via1.finance@uvsamidwest.org</b> to request a refund.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# "Are you sure you want to disband" Pop-Up Modal #}
    <div id="disband_group_modal" class="modal">
        <div class="modal-content">
            <div class="row center-align">
                    <div class="col s10 l8 offset-s1 offset-l2">
                        <h5>You are about to {% if is_room_leader %}disband{% else %}leave{% endif %} this group</h5>
                        <p class="orange-text">Are you sure you want to {% if is_room_leader %}disband{% else %}leave{% endif %}?
                            {% if is_room_leader %} Since you are the group leader, all attendees in your group will also
                                be removed from the group.{% endif %}
                        </p>
                        <a href="{% url 'disband_room' %}" class="btn waves-effect waves-light orange">Yes</a>
                        <button class="btn waves-effect waves-light orange modal-close">No</button>
                    </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block additional_scripts %}
    {% if not user.has_paid_hotel and is_hotel_payment_refund_open %}
        {# Paypal Express Check Out for Single Spot Hotel Button #}
        <script>
            // Global variable so it can be used in both the payment and onAuthorize contexts
            var hotel_type, invoice;

            paypal.Button.render({

                env: 'sandbox', // 'sandbox' or 'production'

                client: {
                    sandbox:    'Ab27EY00zHVJxLJOXzg5qsD-BPhmZN5eKEtl9t-JZLx3FWDedGCcv_dY3ThY0WyokpArcbGNB-fKmHOV',
                    production: 'AcX7YmOuHyEA6dZhpNEYeaU1hni05wB3dVyPFEEReHgzByz3B-BA8YXclcsY_WiCws3k-2K99JRRl_5I'
                },

                commit: true, // Show a 'Pay Now' button

                style: {
                    color:  'black',
                    size:   'responsive',
                    shape:  'rect',
                    label:  'pay',
                    tagline: false
                },

                payment: function(data, actions) {
                    var price, description;

                    // Generate a random 9-digit number for the invoice
                    var invoice_number = Math.floor(Math.random() * 899999999 + 100000000);

                    price = {{ hotel_price }};
                    description = '2018 VIA-1 Hotel';
                    hotel_type = '{{ hotel_payment_types.SINGLE_SPOT }}';
                    invoice = 'via1-2018-hotel-' + {{ user.id }} + '-' + invoice_number;

                    return actions.payment.create({
                        payment: {
                            transactions: [
                                {
                                    amount: {
                                        total: price,
                                        currency: 'USD'
                                    },
                                    description: description,
                                    item_list: {
                                        items: [
                                            {
                                                name: description,  // We can just use the description for the item name, too
                                                price: price,
                                                currency: 'USD',
                                                quantity: 1
                                            }
                                        ]
                                    },
                                    invoice_number: invoice,
                                    custom: hotel_type
                                }
                            ],
                            redirect_urls: {
                                return_url: '{% url 'hotel' %}',
                                cancel_url: '{% url 'hotel' %}'
                            }
                        },
                        experience: {
                            input_fields: {
                                no_shipping: 1
                            }
                        }
                    });
                },

                onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function(payment) {
                        // This endpoint will check the validity of the request. If valid, the user's status will be changed to paid
                        // The total attendee count will also be incremented
                        $.ajax({
                            url: '{% url 'update_hotel_paid' %}',
                            data: {
                                'paymentID': data.paymentID,
                                'hotel_type': hotel_type,
                                'payment_invoice': invoice
                            }
                        });
                        // TODO Need to change this. If the user doesn't hit okay immediately, the ajax call above can't complete.
                        window.alert('Payment complete. It may take several moments for the system to update. A PayPal confirmation has been sent to your email.');
                        // The payment is complete!
                        // Redirect user to home page
                        window.location.replace('{% url 'hotel' %}')
                    });
                },

                onCancel: function(data, actions) {
                    // Don't have to do anything on cancel
                },

                onError: function(err) {
                    window.alert('An error occurred while checking out. Please try again. If the problem persists, contact conference.executive@uvsamidwest.org')
                    // onError seems to be called for scenarios like invoice ID being used twice etc
                    // Maybe we want to display a toast that says an error occurred while paying. Try again
                }

            }, '#id_single_spot_hotel_button');
        </script>

        {# Paypal Express Check Out for Whole Hotel Button #}
        <script>
            // Global variable so it can be used in both the payment and onAuthorize contexts
            var hotel_type, invoice;

            paypal.Button.render({

                env: 'production', // 'sandbox' or 'production'

                client: {
                    sandbox:    'Ab27EY00zHVJxLJOXzg5qsD-BPhmZN5eKEtl9t-JZLx3FWDedGCcv_dY3ThY0WyokpArcbGNB-fKmHOV',
                    production: 'AcX7YmOuHyEA6dZhpNEYeaU1hni05wB3dVyPFEEReHgzByz3B-BA8YXclcsY_WiCws3k-2K99JRRl_5I'
                },

                commit: true, // Show a 'Pay Now' button

                style: {
                    color:  'black',
                    size:   'responsive',
                    shape:  'rect',
                    label:  'pay',
                    tagline: false
                },

                payment: function(data, actions) {
                    var price, description;

                    // Generate a random 9-digit number for the invoice
                    var invoice_number = Math.floor(Math.random() * 899999999 + 100000000);

                    price = {{ hotel_price_whole }};
                    description = '2018 VIA-1 Hotel';
                    hotel_type = '{{ hotel_payment_types.WHOLE_ROOM }}';
                    invoice = 'via1-2018-hotel-' + {{ user.id }} + '-' + invoice_number;

                    return actions.payment.create({
                        payment: {
                            transactions: [
                                {
                                    amount: {
                                        total: price,
                                        currency: 'USD'
                                    },
                                    description: description,
                                    item_list: {
                                        items: [
                                            {
                                                name: description,  // We can just use the description for the item name, too
                                                price: price,
                                                currency: 'USD',
                                                quantity: 1
                                            }
                                        ]
                                    },
                                    invoice_number: invoice,
                                    custom: hotel_type
                                }
                            ],
                            redirect_urls: {
                                return_url: '{% url 'hotel' %}',
                                cancel_url: '{% url 'hotel' %}'
                            }
                        },
                        experience: {
                            input_fields: {
                                no_shipping: 1
                            }
                        }
                    });
                },

                onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function(payment) {
                        // This endpoint will check the validity of the request. If valid, the user's status will be changed to paid
                        // The total attendee count will also be incremented
                        $.ajax({
                            url: '{% url 'update_hotel_paid' %}',
                            data: {
                                'paymentID': data.paymentID,
                                'hotel_type': hotel_type,
                                'payment_invoice': invoice
                            }
                        });
                        // TODO Need to change this. If the user doesn't hit okay immediately, the ajax call above can't complete.
                        window.alert('Payment complete. It may take several moments for the system to update. A PayPal confirmation has been sent to your email.');
                        // The payment is complete!
                        // Redirect user to home page
                        window.location.replace('{% url 'hotel' %}')
                    });
                },

                onCancel: function(data, actions) {
                    // Don't have to do anything on cancel
                },

                onError: function(err) {
                    window.alert('An error occurred while checking out. Please try again. If the problem persists, contact conference.executive@uvsamidwest.org')
                    // onError seems to be called for scenarios like invoice ID being used twice etc
                    // Maybe we want to display a toast that says an error occurred while paying. Try again
                }

            }, '#id_whole_hotel_button');
        </script>
    {% endif %}

    <script>
    $("#coed_roommates").change(function () {
        var value;
        if($(this).is(":checked")) {
            value = 'checked'
        } else {
            value = 'not_checked'
        }
        $.ajax({
            url: '{% url 'change_coed_preference' %}',
            async: true,
            data: {
                coed_roommates: value // as you are getting in php $_POST['action1']
            },
            success: function () {
                Materialize.toast('Your preference has been saved.', 8000);
            }
        });
    });
    </script>

    <script>
    $("#whole_room_form").submit(function(e) {
        $("#whole_room_submit_btn").hide();
        $("#whole_room_submit_loader").show();
        var url = '{% url 'whole_room_save_roommates' %}'; // the script where you handle the form input.

        $.ajax({
            url: url,
            data: $("#whole_room_form").serialize(), // serializes the form's elements.
            dataType: 'json',
            success: function(data)
            {
                $("#success_text").delay(1500).show(0);
                $("#success_text").delay(2500).hide(0);
            }
        })
        .always(function() {
            $("#whole_room_submit_loader").delay(1500).hide(0);
            $("#whole_room_submit_btn").delay(4000).show(0);
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>

    {# If messages exist, they will appear here. Use the messages package in views.py to create messages #}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function(){
                    Materialize.toast('{{ message|safe }}', 8000);
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}