<!DOCTYPE html>
<html>
<head>
    <title>VIA-1 Log In</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/styles.css' %}" />

    <style>
        {# This is for the background #}
        body, html {
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom right,rgba(0, 47, 100, 0.60),rgba(220,66, 37, 0.60)), url({% static 'registration/login_bg.jpg' %}) center center / cover;
        }
    </style>
</head>
<body>
    <div class="bg-img"></div>
    {% block content %}
        <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
            <div class="container">
                <div class="row">
                    <div class="z-depth-5 grey lighten-4 col s10 m8 l6 offset-s1 offset-m2 offset-l3" style="padding: 24px 24px 0 24px; border: 1px solid #EEE;">
                        <div class="row">
                            <div class="center-align">
                                <img width="100" src="http://via1.org/registration/images/logos/via1black.png">
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="material-icons prefix">account_circle</i>
                                        <label for="username">Username</label>
                                        <input type="text" id="username" name="username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s10 offset-s1">
                                        <i class="material-icons prefix">lock_outline</i>
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="center-align">
                                        <button type="submit" class="waves-effect waves-light orange btn"><i class="material-icons right">chevron_right</i>Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>