{% extends 'registration/login_base.html' %}

{% block title %}VIA-1 - Login{% endblock %}

{% block content %}

{# Login box #}
 <!--<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">-->
    <div class="container" style="display: flex; flex-direction: column;">
        <div class="row" style="margin-top: 100px;">
            <div class="z-depth-4 grey lighten-4 col s10 m8 l6 offset-s1 offset-m2 offset-l3" style="padding: 24px 0px 0 0px; border: 1px solid #EEE;">
                <div class="row">
                    <div class="center-align">
                        <img width="100" src="http://via1.org/registration/images/logos/uvsamw_logo_transparent.png">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <p class="center-align" style="font-weight: 300;">via-1 login</p>
                </div>

                <div class="row">
                    <form class="col s12" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="row" style="margin-bottom:0;">
                            <div class="input-field col s10 offset-s1">
                                <i class="material-icons prefix">person_outline</i>
                                <label for="username">Email</label>
                                <input type="email" id="username" name="username" value="{{ form.username.value|default_if_none:"" }}">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0;">
                            <div class="input-field col s10 offset-s1">
                                <i class="material-icons prefix">lock_outline</i>
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <div class="right-align">
                                    <a href="/registration/password_reset" class="orange-text hover_black">Forgot Password?</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="center-align">
                                <button type="submit" class="z-depth-3 waves-effect waves-light orange btn"><i class="material-icons right">chevron_right</i>Login</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <p class="center-align">No Account? <a class="orange-text hover_black modal-trigger" href="#register_modal">Register Here</a></p>
                </div>
            </div>
        </div>
    </div>


{# Register pop-up modal #}
<div id="register_modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="center-align">
                <img width="100" src="http://via1.org/registration/images/logos/uvsamw_logo_transparent.png">
            </div>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s4 offset-s2">
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" value="{{ reg_form.first_name|default_if_none:"" }}" required>
                    </div>
                    <div class="input-field col s4">
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" value="{{ reg_form.last_name|default_if_none:"" }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{ reg_form.email|default_if_none:"" }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 offset-s2">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="input-field col s4">
                        <label for="password">Retype Password</label>
                        <input type="password" id="retype_password" name="retype_password" required>
                    </div>
                </div>

                <div class="row">
                    <div class="center-align">
                        <button type="submit" class="z-depth-3 waves-effect waves-light orange btn">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}