{% extends 'registration/login_base.html' %}

{% block title %}VIA-1 - Member School Verification{% endblock %}

{% block content %}

<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
    <div class="container">
        <div class="row">
            <div class="z-depth-4 grey lighten-4 col s10 m8 l6 offset-s1 offset-m2 offset-l3" style="padding: 24px 0px 0 0px; border: 1px solid #EEE;">
                <div class="row">
                    <div class="center-align">
                        <img width="100" src="http://via1.org/registration/images/logos/uvsamw_logo_transparent.png">
                    </div>
                </div>

                <div class="row">
                    <div class="col s10 offset-s1 center-align">
                        <p>
                            The user's request to be verified as a member of your VSA has been <b>approved</b>.
                            Access to early registration has been granted to the user.
                        </p>
                        <p>
                            Thank you! If you have any questions, please contact <b>via1staff@uvsamidwest.org</b>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}