{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Profile{% endblock %}

{% block additional_head %}
    <script src="https://use.fontawesome.com/724dc2aee1.js"></script>
    <link href="{% static 'registration/cropper.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'registration/imagehover.css' %}" rel="stylesheet">

    <style>
        {# This is for the background #}
        #default_background {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom right,rgba(0, 47, 100, 0.70),rgba(220,66, 37, 0.70)), url({% static 'registration/login_bg.jpg' %}) center center / cover no-repeat;
            background-attachment: fixed;
        }
        #gradient_background {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom right,rgba(0, 47, 100, 0.70),rgba(220,66, 37, 0.70)) center center / cover no-repeat;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="default_background" class="hide-on-med-and-down"></div>
    <div id="gradient_background" class="hide-on-large-only"></div>

    <div class="container">
        <div class="row">
            <div class="z-depth-4 grey lighten-5 col s10 offset-s1 animated fadeInUpBig" style="padding: 24px 0 0 0; border: 1px solid #EEE; border-radius: 5px; margin-top: 80px; margin-bottom: 80px; animation-delay: 0.2s;">
                <div class="row center-align">
                    <div class="col s10 offset-s1">
                        <h4 style="font-weight: 300;">Your Profile</h4>
                        <p style="font-weight: 300;">This information will let us know more about you.</p>
                        <p class="orange-text" style="font-weight: 300; font-style: italic;"><b>NOTE:</b> Fields with an asterisk(*)
                            must be filled out in order to choose workshops.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12" style="margin-bottom: 35px;">
                        <ul class="tabs tabs-fixed-width" style="overflow: hidden;">
                            <li class="tab col s4"><a href="#account">Account</a></li>
                            <li class="tab col s4"><a href="#personal" class="active">Personal</a></li>
                            <li class="tab col s4"><a href="#conference">Conference</a></li>
                        </ul>
                    </div>

                    {# Submission is handled by Ajax below #}
                    <form id="profile_form" method="post">
                        {% csrf_token %}
                        <div id="account" class="col s12">
                            <div class="row">
                                <div class="col s10 offset-s1">
                                    <div class="input-field col s12 l4">
                                        <i class="material-icons prefix">person_outline</i>
                                        <label for="first_name">First Name</label>
                                        <input type="text" id="first_name" name="first_name" value="{{ user.first_name|default_if_none:"" }}" readonly>
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <i class="material-icons prefix"></i>
                                        <label for="middle_name">Middle</label>
                                        <input type="text" id="middle_name" name="middle_name" maxlength="30" value="{{ user.middle_name|default_if_none:"" }}">
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <i class="material-icons prefix"></i>
                                        <label for="last_name">Last Name</label>
                                        <input type="text" id="last_name" name="last_name" value="{{ user.last_name|default_if_none:"" }}" readonly>
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <i class="material-icons prefix">mail_outline</i>
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" value="{{ user.email|default_if_none:"" }}" readonly>
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <i class="material-icons prefix">phone</i>
                                        <label for="phone_number">Phone Number</label>
                                        <input type="text" id="phone_number" name="phone_number" pattern="^\d{10}$" oninvalid="setCustomValidity('Please enter a 10-digit phone number without dashes')" oninput="setCustomValidity('')" value="{{ user_info.phone_number|default_if_none:"" }}">
                                    </div>
                                    <div class="input-field col s12 l4">
                                        <i class="material-icons prefix">date_range</i>
                                        <label for="birth_date" class="active">Birth Date</label>
                                        <input type="date" id="birth_date" name="birth_date" value="{{ user_info.birth_date|date:"Y-m-d"|default_if_none:'' }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="personal" class="col s12">
                            <div class="row">
                                <div class="col s10 offset-s1">
                                    <div class="row">

                                            <div class="col s12 l4 center-align">
                                                <a href="#add_photo_modal" class="modal-trigger">
                                                <div class="col s12 grey-text">
                                                {% if user_info.photo_name %}
                                                    <figure class="imghvr-push-up">
                                                        <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/attendee_photos/{{ user_info.photo_name }}">
                                                        <figcaption>
                                                            <h5 style="font-weight: 300; text-align: center;">UPLOAD</h5>
                                                        </figcaption>
                                                    </figure>
                                                {% else %}
                                                    <i class="fa fa-user-circle-o fa-5x"></i>
                                                    <p class="center-align">Click to add a portrait *</p>
                                                {% endif %}
                                                </div>
                                                </a>

                                                <div class="col s12">
                                                    <a class="orange-text hover_black modal-trigger" href="#photo_guidelines_modal">Photo Guidelines</a>
                                                </div>
                                            </div>

                                        <div class="input-field col s12 l8">
                                            <div class="row">
                                                <div class="input-field col s12 l8">
                                                    <i class="material-icons prefix">school</i>
                                                    <label for="school" class="active">School *</label>
                                                    <select id="school" name="school">
                                                        <option value="" disabled selected>Choose...</option>
                                                        <option value="other">Other</option>
                                                        {% for school in member_school_names %}
                                                            <option value="{{ school }}">{{ school }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="input-field col s12 l4">
                                                    <label for="grad_year" class="active">Graduation Year</label>
                                                    <input list="grad_year" name="grad_year" pattern="^\d{4}$" oninvalid="setCustomValidity('Please enter a 4-digit year (e.g. 2017)')" oninput="setCustomValidity('')" value="{{ user_info.grad_year|default_if_none:'' }}">
                                                    <datalist id="grad_year">
                                                        {% for year in graduation_years %}
                                                            <option value="{{ year }}">
                                                        {% endfor %}
                                                    </datalist>
                                                </div>
                                                {# For School drop down -- will display if user select "Other" (see jquery below) #}
                                                <div id="other_field" class="input-field col s12 l8" style="display:none;">
                                                    <i class="material-icons prefix"></i>
                                                    <label for="other_school">Other School (full name)</label>
                                                    <input type="text" id="other_school" name="other_school" maxlength="65" value="{% if other_selected == 'true' %}{{ user_info.school}}{% endif %}">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12 l6">
                                                    <label for="major">Major</label>
                                                    <input type="text" id="major" name="major" maxlength="65" value="{{ user_info.major|default_if_none:'' }}">
                                                </div>
                                                <div class="input-field col s12 l6">
                                                    <label for="pronouns" class="active">Gender Pronouns *</label>
                                                    <select id="pronouns" name="pronouns">
                                                        <option value="" disabled selected>Choose...</option>
                                                        <option value="other">Other</option>
                                                        <option value="he_him_his">He, Him, His</option>
                                                        <option value="she_her_hers">She, Her, Hers</option>
                                                        <option value="they_them_theirs">They, Them, Theirs</option>
                                                    </select>
                                                </div>
                                                <div id="other_pronouns_field" class="input-field col s12 l6 offset-l6" style="display:none;">
                                                    <label for="other_pronouns">Enter your pronouns</label>
                                                    <input type="text" id="other_pronouns" name="other_pronouns" maxlength="25" value="{% if other_pronouns_selected == 'true' %}{{ user_info.pronouns}}{% endif %}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-facebook prefix" aria-hidden="true"></i>
                                            <label for="facebook">Facebook</label>
                                            <input type="text" id="facebook" name="facebook" maxlength="25" value="{{ user_info.facebook|default_if_none:'' }}">
                                        </div>
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-instagram prefix" aria-hidden="true"></i>
                                            <label for="instagram">Instagram</label>
                                            <input type="text" id="instagram" name="instagram" maxlength="25" value="{{ user_info.instagram|default_if_none:'' }}">
                                        </div>
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-twitter prefix" aria-hidden="true"></i>
                                            <label for="twitter">Twitter</label>
                                            <input type="text" id="twitter" name="twitter" maxlength="25" value="{{ user_info.twitter|default_if_none:'' }}">
                                        </div>
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-snapchat-ghost prefix" aria-hidden="true"></i>
                                            <label for="snapchat">Snapchat</label>
                                            <input type="text" id="snapchat" name="snapchat" maxlength="25" value="{{ user_info.snapchat|default_if_none:'' }}">
                                        </div>
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-linkedin prefix" aria-hidden="true"></i>
                                            <label for="linkedin">LinkedIn</label>
                                            <input type="text" id="linkedin" name="linkedin" maxlength="25" value="{{ user_info.linkedin|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="conference" class="col s12">
                            <div class="row">
                                <div class="col s10 offset-s1">
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <i class="fa fa-cutlery prefix" aria-hidden="true"></i>
                                            <label for="banquet_meal">Banquet Meal *(TBD)</label>
                                            <select id="banquet_meal" name="banquet_meal">
                                                {% for meal in banquet_meals %}
                                                    <option value="{{ meal }}"></option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="input-field col s12 l6">
                                            <i class="fa fa-frown-o prefix" aria-hidden="true"></i>
                                            <label for="food_allergies">Food Allergies</label>
                                            <input type="text" id="food_allergies" name="food_allergies" maxlength="65" value="{{ user_info.food_allergies|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-address-book prefix" aria-hidden="true"></i>
                                            <label for="emergency_contact">Emergency Contact *</label>
                                            <input type="text" id="emergency_contact" name="emergency_contact" maxlength="50" value="{{ user_info.emergency_contact|default_if_none:'' }}">
                                        </div>
                                        <div class="input-field col s12 l4">
                                            <i class="material-icons prefix">phone</i>
                                            <label for="emergency_contact_number">Phone Number *</label>
                                            <input type="tel" id="emergency_contact_number" name="emergency_contact_number" pattern="^\d{10}$" oninvalid="setCustomValidity('Please enter a 10-digit phone number without dashes')" oninput="setCustomValidity('')" value="{{ user_info.emergency_contact_number|default_if_none:'' }}">
                                        </div>
                                        <div class="input-field col s12 l4">
                                            <i class="fa fa-user prefix" aria-hidden="true"></i>
                                            <label for="emergency_contact_relation">Relationship *</label>
                                            <input type="text" id="emergency_contact_relation" name="emergency_contact_relation" maxlength="20" value="{{ user_info.emergency_contact_relation|default_if_none:'' }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <label for="shirt_size" class="active">T-Shirt Size *</label>
                                            <select id="shirt_size" name="shirt_size">
                                                <option value="" disabled selected>Choose...</option>
                                                <option value="small">Small</option>
                                                <option value="medium">Medium</option>
                                                <option value="large">Large</option>
                                                <option value="extra_large">Extra Large</option>
                                            </select>
                                        </div>
                                        <div class="input-field col s12 l6">
                                            <label for="vias_attended">Number of VIA-1s Attended *</label>
                                            <input type="number" id="vias_attended" name="vias_attended" max="16" value="{{ user_info.vias_attended|default_if_none:'' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="divider" style="margin-bottom: 15px;"></div>
                <div class="row">
                    <div class="col s12 right-align" style="padding-right: 30px;">
                        <div class="row" style="margin:0;">
                            <div id="profile_submit_loader" class="sk-folding-cube right" style="margin: 3px 40px; display:none">
                                <div class="sk-cube1 sk-cube"></div>
                                <div class="sk-cube2 sk-cube"></div>
                                <div class="sk-cube4 sk-cube"></div>
                                <div class="sk-cube3 sk-cube"></div>
                            </div>
                            <p id="success_text" class="green-text" style="margin:0; margin-right: 10px; display: none;">Success!</p>
                            <button type="submit" id="profile_submit_btn" class="z-depth-3 waves-effect waves-light orange btn hover_move_right"><i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>Save</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# Add Photo Pop-Up Modal #}
    <div id="add_photo_modal" class="modal">
        <div class="modal-content">
            <div class="row file-field input-field">
                <button class="btn waves-effect waves-light orange" style="margin-right: 5px; margin-bottom: 5px;">
                    <span>Select...</span>
                    <input type="file" accept="image/*" name="image" onchange="readURL(this);"/>
                </button>
                <button id="crop_button" class="btn waves-effect waves-light orange">Crop</button>
            </div>
            <div class="row image_container center-align">
                <img id="crop_canvas" style="max-width: 100%" src=" {% if user_info.photo_name %}https://via1.org/registration/images/attendee_photos/{{ user_info.photo_name }}{% else %}#{% endif %}" />
            </div>
            <div class="row">
                <button id="remove_photo_button" class="btn waves-effect waves-light orange" onclick="removePhoto()">Remove</button>
            </div>
        </div>
    </div>

    {# Photo Guidelines Pop-Up Modal #}
    <div id="photo_guidelines_modal" class="modal">
        <div class="modal-content">
            <h4>Photo Guidelines</h4>
            <p class="orange-text"><b>NOTE:</b> The photo you upload will be used on your badge and will be displayed on the Families page.</p>
            <p><b>Photo must meet the following criteria:</b><br>
                - Dimensions must be greater than or equal to <i>400x400</i> pixels<br>
                - Professional headshot<br>
                - Individual photo (e.g. No group photos)<br>
                - Up-to-date (e.g. No baby photos)<br>
            </p>
            <p class="orange-text" style="font-weight: 600; font-style: italic">If you fail to adhere to these guidelines, your photo will be removed.</p>
        </div>
    </div>

{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'registration/cropper.min.js' %}"></script>

    <script>
    $("#profile_form").submit(function(e) {
        $("#profile_submit_btn").hide();
        $("#profile_submit_loader").show();
        var url = '{% url 'submit_profile' %}'; // the script where you handle the form input.

        $.ajax({
            type: "POST",
            url: url,
            data: $("#profile_form").serialize(), // serializes the form's elements.
            dataType: 'json',
            success: function(data)
            {
                $("#success_text").delay(1500).show(0);
                $("#success_text").fadeOut(4000, "linear", function() {
                    // Animation complete.
                });
            }
        })
        .always(function() {
            $("#profile_submit_loader").delay(1500).hide(0);
            $("#profile_submit_btn").delay(4000).show(0);
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>

    <script>
    $('#school').on('change',function(){
        if( $(this).val()==="other"){
            $("#other_field").show()
        }
        else{
            $("#other_field").hide()
        }
    });

    $('#pronouns').on('change',function(){
        if( $(this).val()==="other"){
            $("#other_pronouns_field").show()
        }
        else{
            $("#other_pronouns_field").hide()
        }
    });
    </script>

    <script>
    $(document).ready(function() {
        var schoolValue  = '{{ user_info.school }}';

        if (!{{ other_selected }}) {
            $("#school").val(schoolValue)
                .find("option[value='" + schoolValue +"']").attr('selected', true);
        } else if ({{ other_selected }} && schoolValue !== '' && schoolValue != 'None') {
            $("#school").val(schoolValue)
                .find("option[value=other]").attr('selected', true);
            $("#other_field").show();
        }

        var pronounValue = '{{ user_info.pronouns }}';
        if (!{{ other_pronouns_selected }}) {
            $("#pronouns").val(pronounValue)
                .find("option[value='" + pronounValue +"']").attr('selected', true);
        } else if ({{ other_pronouns_selected }} && pronounValue !== '' && pronounValue != 'None') {
            $("#pronouns").val(pronounValue)
                .find("option[value=other]").attr('selected', true);
            $("#other_pronouns_field").show();
        }

        var shirtValue = '{{ user_info.shirt_size }}';
        if (shirtValue !== 'None') {
            $("#shirt_size").val(shirtValue)
                .find("option[value='" + shirtValue +"']").attr('selected', true);
        }
    });
    </script>

    <script type="text/javascript" defer>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#crop_canvas').attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
                setTimeout(initCropper, 100);
            }
        }
        function initCropper(){
            var image = document.getElementById('crop_canvas');
            if (image.cropper) {
                image.cropper.destroy();
            }
            var cropper = new Cropper(image, {
                aspectRatio: 200 / 200,
                viewMode: 1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                crop: function(e) {
                    if (e.detail.width < 400 || e.detail.height < 400) {
                        image.cropper.destroy();
                        alert('This image is too small. Please upload an image larger than 400x400 pixels.');
                    }
                }
            });

            // On crop button clicked
            document.getElementById('crop_button').addEventListener('click', function(){
                var imgurl =  cropper.getCroppedCanvas({width: 200, height: 200}).toDataURL('image/jpeg');
                var imgurl_big = cropper.getCroppedCanvas({width: 400, height: 400}).toDataURL('image/jpeg');
                var trimmed_imgurl = imgurl.replace("data:image/jpeg;base64,", "");
                var trimmed_imgurl_big = imgurl_big.replace("data:image/jpeg;base64,", "");

                $.ajax({
                    type: "POST",
                    url: '{% url 'upload_picture' %}',
                    data: {
                        'croppedImage': trimmed_imgurl,
                        'croppedImage_big': trimmed_imgurl_big
                    },
                    success: function() {
                        location.reload();
                    },
                    error: function() {
                        alert('Photo upload failed. Please try again.');
                    }
                });
            })
        }
    </script>

    <script type="text/javascript" defer>
        function removePhoto() {
            $.ajax({
                type: "GET",
                url: '{% url 'remove_picture' %}',
                success: function() {
                    location.reload();
                },
                error: function() {
                    alert('Photo could not be removed.');
                }
            });
        }
    </script>

{% endblock %}