{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Home{% endblock %}

{% block content %}
    {# Overwrite the opacity setting in style.css #}
    <div id="welcome_banner" class="parallax-container" style="opacity: 1 !important;">
        <div class="parallax">
            <div class="banner_overlay"></div>
            <img class="responsive-img" src="http://via1.org/registration/images/cincinnati.JPG">
        </div>
        <div class="valign-wrapper" style="width: 100%; height: 100%; position: absolute; z-index: 100 !important">
            <div class="row center-align white-text">
                <div class="z-depth-4 col s10 m8 l6 offset-s1 offset-m2 offset-l3" style="padding: 24px 0px 0 0px; background: rgba(0,0,0,0.5)">
                    <div class="row">
                        <div class="col s10 offset-s1 flow-text">
                            {% if is_refund_successful %}
                                <h4 style="font-weight: 300">Refund Successful!</h4>
                                <p style="font-weight: 100">
                                    You have been refunded <strong>${{ refund_amount }}</strong>. If you have any additional questions or concerns, please contact
                                    <strong>via1staff@uvsamidwest.org</strong>
                                </p>
                                <a href="{% url 'home' %}" class="z-depth-3 waves-effect waves-light orange btn hover_move_right">
                                    <i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>Home
                                </a>
                            {% else %}
                                <h4 style="font-weight: 300">Refund Unsuccessful</h4>
                                <p style="font-weight: 100">
                                    Your refund could not be processed. Please try again or contact <strong>via1staff@uvsamidwest.org</strong> for assistance.
                                </p>
                                <a href="{% url 'home' %}" class="z-depth-3 waves-effect waves-light orange btn hover_move_right">
                                    <i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i>Home
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    {# Show a toast error if transaction ID is invalid and keep submit button disabled. If user input is VALID, then activate button #}
    {# TODO change submit button to loading indicator while ajax call is happening #}
    <script>
        var timer;
        $("#id_trans_id").on('keyup', function() {
            clearTimeout(timer);
            timer = setTimeout(function() {
                $('#loading_overlay').show();
                var trans_id = $("#id_trans_id").val();
                $.ajax({
                    url: '{% url 'validate_trans_id' %}',
                    data: {
                        'trans_id': trans_id
                    },
                    dataType: 'json',
                    success: function() {
                        $("#id_refund_submit").prop("disabled", false);
                    },
                    error: function () {
                        $("#id_refund_submit").prop("disabled", true);
                        Materialize.toast('Transaction ID is invalid', 5000);
                    }
                }).always(function() {
                    $('#loading_overlay').hide();
                })
            }, 1000);
        })
    </script>
{% endblock %}