{% extends 'registration/home_base.html' %}

{% block title %}VIA-1 - Workshops{% endblock %}

{% block additional_head %}
    <link href="{% static 'registration/cropper.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'registration/imagehover.css' %}" rel="stylesheet">

    <style>
    body, html {
        background: #eeeeee;
        {# Without this, the screen will keep scrolling to the top when someone opens a workshop dialog #}
        overflow-y: visible !important;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 80px;">
        <div class="row" style="margin-bottom: 50px;">
            <div class="col s10 offset-s1 center-align">
                <h3 style="font-weight: 300; margin-top: 50px;">Workshops</h3>
                <p class="grey-text text-darken-2">Select a workshop from each session. The deadline to choose workshops
                    is <b class="orange-text">{{ workshops_deadline }} CST</b>. Click or tap on a portrait below to
                    view more information about the presenter and workshop.</p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 80px;">
            <div class="col s12 center-align">
                <h4 style="font-weight: 300; margin-bottom: 30px;">YOUR<span style="font-weight: 500;">SESSIONS</span></h4>

                <div class="row flex_with_wrap">
                    <div class="col s12 l6 center-align flex_with_wrap" style="margin-bottom: 50px">
                        <div class="z-depth-1 col s10 offset-s1 grey lighten-5 workshop_choice_box animated fadeInLeft" style="animation-delay: .3s;">
                            {% if user.userinfo.workshop_one %}
                            <div class="col s6">
                                <figure class="effect-test z-depth-3">
                                    {% if user.userinfo.workshop_one.presenter_photo %}
                                    <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/{{ user.userinfo.workshop_one.presenter_photo }}">
                                    {% else %}
                                    <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/no_photo.jpeg">
                                    {% endif %}
                                    <figcaption>
                                        <a href="#workshop_{{ user.userinfo.workshop_one.id }}" class="modal-trigger"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col s6">
                                <p>SESSION ONE</p>
                                <div class="row">
                                    <div class="divider"></div>
                                    <p class="grey-text text-darken-2" style="font-weight: 300;">{{ user.userinfo.workshop_one.name }}</p>
                                </div>
                            </div>
                            {% else %}
                            <p>SESSION ONE</p>
                            <div clss="row">
                                <div class="divider"></div>
                                <p class="orange-text" style="font-weight: 300;">Choose a workshop below</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col s12 l6 center-align flex_with_wrap" style="margin-bottom: 50px">
                        <div class="z-depth-1 col s10 offset-s1 grey lighten-5 workshop_choice_box animated fadeInRight" style="animation-delay: .3s;">
                            {% if user.userinfo.workshop_two %}
                            <div class="col s6">
                                <figure class="effect-test z-depth-3">
                                    {% if user.userinfo.workshop_two.presenter_photo %}
                                    <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/{{ user.userinfo.workshop_two.presenter_photo }}">
                                    {% else %}
                                    <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/no_photo.jpeg">
                                    {% endif %}
                                    <figcaption>
                                        <a href="#workshop_{{ user.userinfo.workshop_two.id }}" class="modal-trigger"></a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col s6">
                                <p>SESSION TWO</p>
                                <div class="row">
                                    <div class="divider"></div>
                                    <p class="grey-text text-darken-2" style="font-weight: 300;">{{ user.userinfo.workshop_two.name }}</p>
                                </div>
                            </div>
                            {% else %}
                            <p>SESSION TWO</p>
                            <div clss="row">
                                <div class="divider"></div>
                                <p class="orange-text" style="font-weight: 300;">Choose a workshop below</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if user_profile_complete %}
        <div class="row" style="margin-bottom: 30px;">
            <div class="col s12" style="border-bottom: 1px solid #ccc; margin-bottom: 30px;">
                <h4 style="font-weight: 300; padding-left: 1em;">SESSION<span style="font-weight: 500;">ONE</span> <i id="session_one_section_toggle" class="material-icons hover_orange" style="cursor: pointer;">keyboard_arrow_down</i></h4>
            </div>
            <div id="session_one_section">
            {% if session_one %}
            {% for workshop in session_one %}
            <div class="col s12 l4 center-align flex_with_wrap" style="margin-bottom: 50px">
                <div class="z-depth-1 col s10 offset-s1 grey lighten-5 workshop_box animated zoomIn" style="animation-delay: .3s;">
                    <figure class="effect-test z-depth-3">
                        {% if workshop.presenter_photo %}
                            <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/{{ workshop.presenter_photo }}">
                        {% else %}
                            <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/no_photo.jpeg">
                        {% endif %}
                        <figcaption>
                            <h2 class="flow-text">{{ workshop.first_name }} <span>{{ workshop.last_name }}</span></h2>
                            <p>Click for details</p>
                            <a href="#workshop_{{ workshop.id }}" class="modal-trigger"></a>
                        </figcaption>
                    </figure>
                    <p class="grey-text text-darken-2 workshop_title">{{ workshop.name }}</p>
                    <div class="row" style="margin-bottom: auto;">
                        <div class="divider"></div>
                        <p class="left workshop_capacity">{{ workshop.attendee_count }}/{{ workshop.capacity }}</p>
                        {% if is_workshops_open and workshop.attendee_count < workshop.capacity %}
                            <a href="{% url 'choose_workshop' workshop.id %}"><p class="right orange-text hover_black workshop_choose hover_move_right">Choose<i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i></p></a>
                        {% else %}
                            <p class="right red-text workshop_closed">CLOSED</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {# Create hidden cards to fix the flexbox alignment #}
            {% for i in session_one_remainder %}
                <div class="col s12 l4 center-align flex_with_wrap" style="margin-bottom: 50px; visibility: hidden">
                    <div class="z-depth-1 col s10 offset-s1 grey lighten-5 workshop_box animated fadeIn" style="animation-delay: .5s;"></div>
                </div>
            {% endfor %}
            {% else %}
            <div class="col s10 l12 offset-s1 flex_with_wrap">
            <p class="orange-text">Workshops have not yet been released. Please check back later!</p>
            </div>
            {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col s12" style="border-bottom: 1px solid #ccc; margin-bottom: 30px;">
                <h4 style="font-weight: 300; padding-left: 1em;">SESSION<span style="font-weight: 500;">TWO</span> <i id="session_two_section_toggle" class="material-icons hover_orange" style="cursor: pointer;">keyboard_arrow_down</i></h4>
            </div>
            <div id="session_two_section">
            {% if session_two %}
            {% for workshop in session_two %}
            <div class="col s12 l4 center-align flex_with_wrap" style="margin-bottom: 50px">
                <div class="z-depth-1 col s10 offset-s1 grey lighten-5 workshop_box animated zoomIn" style="animation-delay: .3s;">
                    <figure class="effect-test z-depth-3">
                        {% if workshop.presenter_photo %}
                            <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/{{ workshop.presenter_photo }}">
                        {% else %}
                            <img id="profile_pic" class="responsive-img" src="https://via1.org/registration/images/presenter_photos/no_photo.jpeg">
                        {% endif %}
                        <figcaption>
                            <h2 class="flow-text">{{ workshop.first_name }} <span>{{ workshop.last_name }}</span></h2>
                            <p>Click for details</p>
                            <a href="#workshop_{{ workshop.id }}" class="modal-trigger"></a>
                        </figcaption>
                    </figure>
                    <p class="grey-text text-darken-2 workshop_title">{{ workshop.name }}</p>
                    <div class="row" style="margin-bottom: auto;">
                        <div class="divider"></div>
                        <p class="left workshop_capacity">{{ workshop.attendee_count }}/{{ workshop.capacity }}</p>
                        {% if is_workshops_open and workshop.attendee_count < workshop.capacity %}
                            <a href="{% url 'choose_workshop' workshop.id %}"><p class="right orange-text hover_black workshop_choose hover_move_right">Choose<i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i></p></a>
                        {% else %}
                            <p class="right red-text workshop_closed">CLOSED</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {# Create hidden cards to fix the flexbox alignment #}
            {% for i in session_two_remainder %}
                <div class="col s12 l4 center-align flex_with_wrap" style="margin-bottom: 50px; visibility: hidden">
                    <div class="z-depth-1 col s10 offset-s1 grey lighten-5 workshop_box animated fadeIn" style="animation-delay: .5s;"></div>
                </div>
            {% endfor %}
            {% else %}
            <div class="col s10 l12 offset-s1 flex_with_wrap">
            <p class="orange-text">Workshops have not yet been released. Please check back later!</p>
            </div>
            {% endif %}
            </div>
        </div>
        {% else %}
        <div class="row center-align">
            <div class="col s12">
                <h5 style="font-weight: 300;">
                    To access workshop selections, please complete your <a class="orange-text hover_black" style="font-weight: 500;" href="{% url 'profile' %}">USER PROFILE</a> first.
                </h5>
            </div>
        </div>
        {% endif %}
    </div>

    {# Workshop "more details" modals #}
    {% for workshop in session_one %}
        <div id="workshop_{{ workshop.id }}" class="modal modal-fixed-footer">
            <div class="modal-content center-align flow-text">
                <div class="row">
                    <h4 style="font-weight: 300;">{{ workshop.name }}</h4>
                    <h5 class="workshop_detail_subtitle orange-text">{{ workshop.first_name }} <span>{{ workshop.last_name }}</span></h5>
                </div>
                <div class="row">
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col l10 offset-l1">
                        <h5 class="workshop_detail_subtitle">Workshop <span>Description</span></h5>
                        <p>{{ workshop.description }}</p>
                    </div>
                    <div class="col l10 offset-l1">
                        <h5 class="workshop_detail_subtitle">THE <span>PRESENTER</span></h5>
                        <p>{{ workshop.presenter_description }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="left workshop_capacity">CAPACITY: {{ workshop.attendee_count }}/{{ workshop.capacity }}</p>
                {% if is_workshops_open and workshop.attendee_count < workshop.capacity %}
                    <a href="{% url 'choose_workshop' workshop.id %}" class="z-depth-3 modal-action modal-close waves-effect waves-light btn orange hover_move_right">Choose<i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i></a>
                {% else %}
                    <p class="right red-text workshop_closed">CLOSED</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {# Workshop "more details" modals #}
    {% for workshop in session_two %}
        <div id="workshop_{{ workshop.id }}" class="modal modal-fixed-footer">
            <div class="modal-content center-align flow-text">
                <div class="row">
                    <h4 style="font-weight: 300;">{{ workshop.name }}</h4>
                    <h5 class="workshop_detail_subtitle orange-text">{{ workshop.first_name }} <span>{{ workshop.last_name }}</span></h5>
                </div>
                <div class="row">
                    <div class="divider"></div>
                </div>
                <div class="row">
                    <div class="col l10 offset-l1">
                        <h5 class="workshop_detail_subtitle">Workshop <span>Description</span></h5>
                        <p>{{ workshop.description }}</p>
                    </div>
                    <div class="col l10 offset-l1">
                        <h5 class="workshop_detail_subtitle">THE <span>PRESENTER</span></h5>
                        <p>{{ workshop.presenter_description }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p class="left workshop_capacity">CAPACITY: {{ workshop.attendee_count }}/{{ workshop.capacity }}</p>
                {% if is_workshops_open and workshop.attendee_count < workshop.capacity %}
                    <a href="{% url 'choose_workshop' workshop.id %}" class="z-depth-3 modal-action modal-close waves-effect waves-light btn orange hover_move_right">Choose<i class="material-icons right hover_move_right icon_only_right" style="margin:0">chevron_right</i></a>
                {% else %}
                    <p class="right red-text workshop_closed">CLOSED</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'registration/cropper.min.js' %}"></script>

    {# If messages exist, they will appear here. Use the messages package in views.py to create messages #}
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function(){
                    Materialize.toast('{{ message|safe }}', 8000);
                });
            </script>
        {% endfor %}
    {% endif %}

    <script>
    $(document).ready(function(){
        {% if user.userinfo.workshop_one %}
            $("#session_one_section").hide();
        {% endif %}

        {% if user.userinfo.workshop_two %}
            $("#session_two_section").hide();
        {% endif %}
    });

    $("#session_one_section_toggle").click(function(){
        $("#session_one_section").toggle(300);
    });

    $("#session_two_section_toggle").click(function(){
        $("#session_two_section").toggle(300);
    });
    </script>

{% endblock %}